.header-top {
  max-width: 40rem;
  display: flex;
  justify-content: center;
  padding: 0.82rem 5.625rem .7rem;
  margin: 0 auto;
  text-align: center;
  background: url("/topimage.png");
  background-position: bottom;
  background-size: 85%;
  background-repeat: no-repeat;
  height: 4.2rem;
}
.header-top > p {
  font-size: 0.8rem;
  line-height: .9rem;
  padding-bottom: 0.7rem ;
}
.header-social{
  display: flex ;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  margin: .6rem auto 0;
}
.header-social > *{
  cursor: pointer;
}
.header-lang{
  display: flex ;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  margin: .75rem auto 0; 
  line-height: 1.4rem;
  font-size: .85rem;
}
.header-lang > p{
transition: all .4s ease-out;
cursor: pointer;
}
.header-lang > p:hover {
  color: var(--blue);
}
.header-mobile{
  display: none;
}
@media (max-width: 900px){
    .header{
        display: none;
    }
    .header-mobile{
      display: block;
      height: 4rem
    }
}
