.menu {
  display: flex;
  background-color: rgba(13, 19, 24);
  margin-top: 1.125rem;
}
.menu-desktop {
  width: min(75%, 87.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 0.625rem 0 0.815rem;
  margin: auto;
}
.menu-desktop-list {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  margin-left: 9rem;
  flex-grow: 1;
  justify-content: center;
}
.menu-desktop-list-item {
  padding: 0.25rem 0.81rem;
  border-radius: 0.4rem;
  transition: 0.3s all ease-out;
  font-family: RobotoRegular;
  font-size: 1.34rem;
  line-height: 1.48rem;
  cursor: pointer;
  color: white;
}
.menu-desktop-list-item:hover {
  background-color: #03a1ce;
}
.menu-desktop-actions {
  display: flex;
  align-items: center;
  gap: 0.787rem;
}
.menu-desktop-actions-button {
  background: var(--btn-background);
  border-radius: 0.25rem;
  font-size: inherit;
  color: white;
  line-height: inherit;
  cursor: pointer;
  transition: 0.3s all ease-out;
  font-family: RobotoRegular;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.3125rem;
  height: 2.3rem;
}
.menu-desktop-actions-button:hover {
  background-color: #d32727;
}

@media (max-width: 98.5rem) {
  .menu-desktop {
    width: 84%;
  }
}
@media (max-width: 87.5rem) {
  .menu-desktop-list {
    margin-left: 0;
  }
}
@media (max-width: 75rem) {
  .menu-desktop {
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding: 0.64rem 0 0.7rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .menu-desktop-logo {
    width: 5.3125rem;
    height: 4.2rem;
  }
  .menu-desktop-list {
    gap: 0.4rem;
  }
  .menu-desktop-list-item {
    padding: 0.23rem 0.765rem;
    border-radius: 0.34rem;
  }
  .menu-desktop-actions {
    gap: 0.66rem;
  }
  .menu-desktop-actions-button {
    padding: 0.4rem 1.275rem;

    border-radius: 0.34rem;
  }
}
@media (max-width: 68.75rem) {
  .menu-desktop {
    width: 90%;
  }
}
