.menu {
  display: flex;
  /* width: 100%; */
  background-color: var(--background);
  margin-top: 1.125rem;
}
.menu-desktop {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 0.75rem 0 0.815rem;
  margin: auto;
}
.menu-desktop-logo {
  /* width: 8.3rem;
  height: 6.6rem; */
}
.menu-desktop-list {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-left: 9rem;
  flex-grow: 1;
  justify-content: center;
}
.menu-desktop-list-item {
  padding: 0.25rem .75rem;
  border-radius: 0.4rem;
  transition: 0.3s all ease-out;
  cursor: pointer;
  color: white;
}
.menu-desktop-list-item:hover {
  background-color: var(--blue);
  opacity: 0.8;
}
.menu-desktop-actions {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.menu-desktop-actions-button {
  padding: 0.35rem .76rem;
  background: var(--btn-background);
  border-radius: 0.4rem;
  font-size: inherit;
  color: white;
  line-height: inherit;
  cursor: pointer;
  transition: 0.3s all ease-out;
}
.menu-desktop-actions-button:hover {
  background-color: #d32727;
}
@media (max-width: 1500px) {
  .menu-desktop {
    width: 85%;
  }
}
@media (max-width: 1400px) {
  .menu-desktop-list {
    margin-left: 0;
  }
}
@media (max-width: 1110px) {
  .menu-desktop {
    width: 90%;
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding: 0.75rem 0 0.815rem;
    margin: auto;
  }
  .menu-desktop-logo {
    width: 6.25rem;
    height: 5rem;
  }
  .menu-desktop-list {
    gap: 0.7rem;
  }
  .menu-desktop-list-item {
    padding: 0.28rem 0.5rem;
  }
  .menu-desktop-actions {
    gap: 0.7rem;
  }
  .menu-desktop-actions-button {
    padding: 0.28rem 1.45rem;
  }
}

.menu-mobile {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  background-color: var(--background);
  display: flex;
  align-items: center;
  padding: 0 1.4rem;
  justify-content: space-between;
  z-index: 10;
}
.menu-mobile-icon {
  cursor: pointer;
}
.menu-mobile-logo {
  margin-right: 44vw;
}
.side-menu {
  width: 18rem;
  height: max(100vh, 23.75rem);
  overflow: scroll;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  transition: all 0.4s ease-out;
  padding: 1.315rem 0.625rem 2.75rem 1.375rem;
  color: #03a1cd;
  font-size: 1rem;
  line-height: 1.3rem;
}
.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-top-links {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.menu-top-links-2,
.menu-top-links-1 {
  padding: 0.3rem 1rem 0.3rem 0.2rem;
}
.menu-top-links-2 {
  color: #0d1317;
}
.menu-mobile-lang {
  padding: 2.2rem 0 1rem;
  border-bottom: 1px solid#03A1CD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.6rem;
}
.menu-mobile-lang-english {
  color: #00303e;
}
.menu-mobile-pages-links {
  padding: 3.5rem 0;
  border-bottom: 1px solid#03A1CD;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-right: 0.6rem;
}
.menu-mobile-page-link {
  padding: 0.65rem 0 0.65rem 0.8rem;
  width: 100%;
  border-radius: 0.25rem;
}
.menu-mobile-page-link:hover {
  background-color: #03a1cd;
  color: #00303e;
}
.menu-mobile-social {
  width: min-content;
  margin: auto;
  margin-top: 5rem;
  padding-right: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2.21rem;
  justify-content: center;
}
.menu-top-links-1,
.menu-top-links-2,
.menu-top-icon,
.menu-mobile-lang > *,
.menu-mobile-page-link,
.menu-mobile-social-item {
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  z-index: 9;
}
