.chat-icon {
  position: fixed;
  bottom: 5vh;
  right: 10vw;
  z-index: 10;
  cursor: pointer;
}
.chat {
  position: fixed;
  bottom: 10vh;
  right: 1vw;
  z-index: 100;
}
.container {
  max-width: 95%;
  margin: auto;
  padding-bottom: 7rem;
}
.top-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading-span {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.9375rem;
  line-height: 1.2rem;
  font-family: RobotoSemiBold;
}
.heading-title {
  font-family: RobotoSemiBold;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  margin-top: 0.35rem;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  width: 98%;
  margin-top: 1rem;
}
.watch-video-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97.5%;
  margin: 1.26rem auto 1.74rem;
}
.server-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-left: 83px;
}
.server-name-btn {
  border-radius: 27px;
  background: #fe4747;
  border-radius: 1.26rem;
  padding: 0.67rem 2.085rem;
  color: white;
  font-family: RobotoRegular;
  font-size: 1.03;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.modes-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.56rem;
}
.icon-div {
  width: 2.34rem;
  height: 2.34rem;
  border-radius: 50%;
  background-color: rgba(7, 17, 23, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sort-search-wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.26rem;
  height: 39px;
}

.watch-video-options > * {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vpn {
  margin: auto;
}
.watch-video-servers {
  margin-top: 0.94rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 0.4rem;
  grid-column-gap: 0.45rem;
}
.watch-video-servers-button {
  background: var(--btn-background);
  cursor: pointer;
  height: 2.6rem;
  border-radius: 0.35rem;
  color: white;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  font-family: RobotoRegular;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video-servers-button:hover {
  background-color: #d32727;
}

@media (max-width: 56.25rem) {
  .container {
    padding-bottom: 3.5rem;
  }
  .chat-icon {
    bottom: 3vh;
    right: 8%;
    width: 73px;
    height: 73px;
  }
  .chat {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
  }
  .container {
    max-width: 95%;
  }
  .heading-span {
    font-size: 0.725rem;
    line-height: 0.75rem;
  }
  .heading-title {
    font-size: 1.5rem;
    line-height: 1.375rem;
    margin-bottom: 0.95rem;
    margin-top: 0.57rem;
  }
  .watch-video-options {
    padding-left: 0.875rem;
    padding-right: 0.19rem;
    margin-top: 0.75rem;
    justify-content: center;
    width: 13.56rem;
    height: 3.125rem;
    border-radius: 1.17rem;
    background: #0d1317;
    gap: 1.25rem;
  }

  .server-btn-wrapper {
    flex-grow: 0;
    margin-left: 0;
  }

  .server-name-btn {
    width: 6.375rem;
    height: 1.94rem;
    border-radius: 1.875rem;
    color: #fff;
    font-size: 0.875rem;
    padding: 0;
  }
  .modes-icons {
    gap: 0.5rem;
    width: 5.25rem;
    height: 2.75rem;
    border-radius: 1.875rem;
    background: rgba(12, 27, 37, 0.7);
  }
  .icon-div {
    width: 2.03rem;
    height: 2.03rem;
    border-radius: 50%;
    background-color: rgba(7, 17, 23, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .sort-search-wrapper {
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    margin-top: 1.26rem;
    height: auto;
  }

  .vpn {
    margin: 0.875rem auto 0;
    margin-top: 0.68rem;
  }
  .watch-video-servers {
    margin: 0.93rem auto 0;
    width: 97.5%;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.25rem;
    grid-column-gap: 0.25rem;
  }
  .watch-video-servers-button {
    background: var(--btn-background);
    cursor: pointer;
    height: 2.125rem;
    border-radius: 0.25rem;
    color: white;
    font-size: 0.75rem;
    line-height: 0.875rem;
    font-family: RobotoSemiBold;
  }
  .watch-video-servers-button:hover {
    background-color: #d32727;
  }
}
@media (max-width: 600px) {
  .watch-video {
    height: 14.5rem;
  }
  .container {
    max-width: 100%;
    margin: 0 3px;
    padding-bottom: 3rem;
  }
}
