.heading-button {
  margin-top: 1rem;
  background: var(--btn-background);
  border-radius: 0.58rem;
  color: white;
  padding: 0.45rem 1.3rem 0.45rem 2.4rem;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}
.heading-button > span {
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 1.3rem;
  top: 0.75rem;
}
