.container {
  max-width: min(50rem, 95%);
  margin: auto;
  margin-bottom: 7rem;
}
.statistics-types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.4rem;
  padding-bottom: 0;
  margin: auto;
}
.statistics-type {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-family: RobotoRegular;
  padding: 0.75rem 1rem;
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .container {
    max-width: 100%;
    margin: 0 3px 3.5rem;
  }
  .statistics-types {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.625rem;
    max-width: auto;
    margin-top: 0.5rem;
    padding-bottom: 0rem;
  }
  .statistics-type {
    font-size: 0.675rem;
    line-height: 1rem;
  }
}
