.container {
  max-width: min(50rem, 95%);
  margin: auto;
  margin-bottom: 7rem;
}
.statistics-types {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 28rem;
  margin-top: 1.4rem;
  padding-bottom: 0.5rem;
  margin: auto;
}
.statistics-type {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-family: RobotoRegular;
  padding: 0.6rem 0.4rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-out;
}
@media (max-width: 56.25rem) {
  .container {
    margin-bottom: 3.5rem;
  }
  .statistics-types {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.625rem;
    max-width: auto;
    margin-top: 0.5rem;
    padding-bottom: 0.1rem;
  }
  .statistics-type {
    font-size: 0.875rem;
    line-height: 1rem;
    padding: 0.6rem 0.4rem;
    border-bottom: 1.5px solid transparent;
  }
}
