.wrapper {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(16, 23, 26, 0.95),
      rgba(21, 26, 31, 0.938)
    ),
    url(../../public/wallpaper/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overscroll-behavior: none;
}

.contact {
  max-width: 45rem;
  margin: 0 auto;
  padding-bottom: 7rem;
}
.heading {
  margin: 3.75rem auto 1.54rem;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  font-family: RobotoBold;
}
.container {
  background: #0d1317;
  box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
  border-radius: 1.92rem;
  padding: 2.43rem 2.9rem 2.3rem;
}
.label {
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 1.5rem;
  font-family: "Poppins";
}
.input-group,
.input-group-textarea {
  display: flex;
  align-items: start;
  gap: 0.375rem;
  flex-direction: column;
}
.input,
.text-area {
  font-family: "Poppins";
  padding: 0.28rem 0.75rem 0.21rem;
  height: 2.43rem;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 0.375rem;
  background-color: inherit;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.36rem;
  color: rgba(255, 255, 255, 0.4);
}
.input:focus-visible {
  border: 1px solid white;
}
.text-area {
  resize: none;
}
.topics {
  margin-top: 2rem;
  margin-bottom: 1.64rem;
}
.topics-options {
  margin-top: 0.55rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}
.topics-options-first,
.topics-options-second,
.topics-options-third {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.56rem;
}
.topic-option:hover {
  background-color: rgba(255, 255, 255, 0.171);
}
.topic-option {
  font-family: "Poppins";
  height: 2.2rem;
  background: rgba(255, 255, 255, 0.08);
  padding: 0.42rem 0.9375rem;
  line-height: 0%;
  /* border: 1px solid rgba(255, 255, 255, 0.12); */
  border-radius: 4.68rem;
  font-weight: 600;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
.input-group-textarea {
  margin-top: 2.1rem;
}
.text-area {
  background-color: inherit;
  height: 10rem;
  width: 100%;
}
.send-button {
  font-family: "Poppins";
  padding: 0.65rem 1.5rem;
  width: 8.16rem;
  height: 3.2rem;
  background: #03a1cd;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.25rem;
  cursor: pointer;
  border: none;
  margin: 1.78rem auto 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-methods {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.9rem;
  margin-top: 2.7rem;
}
.contact-us-first,
.contact-us-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.contact-us-second {
  justify-content: center;
}
.contact-us-item,
.contact-us-item-second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.85rem;
}
.contact-us-item-second {
  align-items: start;
}
.contact-us-item > p {
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.36rem;
  color: rgba(255, 255, 255, 0.5);
}
.contact-us-second p {
  max-width: 8rem;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.36rem;
  color: rgba(255, 255, 255, 0.5);
}
.topics-mobile {
  display: none;
}
@media (max-width: 56.25rem) {
  .wrapper-2 {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
    margin: 0;
    background-image: linear-gradient(
      to right bottom,
      rgba(16, 23, 26, 0.95),
      rgba(21, 26, 31, 0.938)
    ),
      url(../../public/wallpaper/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* overscroll-behavior: none; */
  }
  .wrapper {
    padding: 0;
    margin: 0;
    background-image: none;
    /* overscroll-behavior: none; */
  }

  .contact {
    max-width: min(35rem, 95%);
    margin: 0 auto;
    padding-bottom: 4rem;
  }

  .heading {
    margin: 2.18rem auto 0.5rem;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
  .container {
    border-radius: 0.875rem;
    padding: 1.18rem 0.75rem 1.63rem 1.31rem;
  }
  .label {
    font-size: 0.85rem;
    line-height: 1.3rem;
    font-weight: 500;
  }
  .input-group,
  .input-group-textarea {
    gap: 0.5rem;
  }
  .input,
  .text-area {
    padding: 0.2rem 0.56rem 0.15rem;
    height: 2.687rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.3rem;
  }
  .topics {
    margin-top: 1.5rem;
  }
  .topics-options {
    margin-top: 0.3rem;
    gap: 0.525rem;
  }
  .topics-options-first,
  .topics-options-second,
  .topics-options-third {
    display: none;
  }
  .topics-mobile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.36rem;
  }
  .topic-option {
    padding: 0.55rem 1.25rem;
    height: 2.5rem;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 0.75rem;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.08);
    /* border: 1px solid rgba(255, 255, 255, 0.16); */
    border-radius: 6.25rem;
  }
  .input-group-textarea {
    margin-top: 1.5rem;
  }
  .text-area {
    background-color: inherit;
    height: 7.2rem;
    width: 100%;
  }
  .send-button {
    padding: auto;
    width: 6.25rem;
    height: 2.75rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 1.125rem auto 0;
  }
  .contact-us-methods {
    gap: 1.5rem;
    margin-top: 1.9rem;
  }
  .contact-us-first,
  .contact-us-second {
    width: max(65%, 18rem);
  }
  .contact-us-item,
  .contact-us-item-second {
    gap: 1rem;
  }
  .contact-us-item > p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .contact-us-second p {
    max-width: 6.5rem;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .email-icon {
    width: 26px;
    height: 24px;
  }
  .phone-icon {
    width: 24px;
    height: 24px;
  }
  .location-icon {
    width: 26px;
    height: 34px;
  }
}
@media (max-width: 500px) {
  .contact {
    max-width: 100%;
    margin: 0 3px;
    padding-bottom: 3rem;
  }
  /* .input-group-textarea {
    display: none;
  } */
  .topics {
    margin-top: 2rem;
  }
  .topics-options {
    margin-top: 0.5rem;
  }
  .topics-mobile {
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
  }
  .contact-us-methods {
    gap: 2.5rem;
    margin-top: 2.5rem;
    overflow: hidden;
  }
  .contact-us-first,
  .contact-us-second {
    flex-direction: column;
    gap: 2.5rem;
    align-items: start;
    width: 100%;
    padding-left: 2.375rem;
  }
}
