/* .contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactform {
  width: 30%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: var(--background);
  padding: 2.5rem 4rem;
  border-radius: 1rem;
}
.contactform-heading {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}
.contactform-subheading {
  color: var(--blue);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contact-information-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.contact-information-container-item {
  display: flex;
  align-items: center;
}
.contact-information-container-item > img {
  margin-right: 1rem;
  height: 1.3rem;
}
.contact-information-container-item > p {
  color: #ffffffb3;
  font-size: 1rem;
  font-weight: 400;
}
.contact-information-container-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.contact-information-container-bottom > img {
  height: 2rem;
  margin-bottom: 0.5rem;
}
.contact-information-container-bottom > p {
  color: #ffffffb3;
  font-size: 1rem;
  font-weight: 400;
}
.contact-information-container {
  width: 27%;
  margin: auto;
  padding-bottom: 2rem;
}

.contact-disclamer {
  padding-top: 2rem;
  width: 35%;
  margin: auto;
  text-align: center;

  @include respond(tab-land) {
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 45%;
  }
  @include respond(tab-port) {
    width: 70%;
  }
  @include respond(phone) {
    width: 80%;
  }

  &-heading {
    font-size: 2.2rem;
    color: $white;
  }
  &-para {
    color: white;
    margin-top: 1.5rem;
    text-align: justify;
    @include respond(tab-port) {
      text-align: justify;
    }
    @include respond(phone) {
      text-align: justify;
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .contactform {
    width: 80%;
  }
  .contact-information-container {
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .contactform {
    margin-top: 4rem;
    width: 65%;
  }
  .contact-information-container {
    width: 62%;
  }
  .contact-information-container-top {
    display: block;
  }
  .contact-information-container-item {
    margin-top: 2rem;
  }
  .contact-information-container-item > img {
    margin-right: 2rem;
  }
  .contact-information-container-bottom {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }
  .contact-information-container-bottom > img {
    margin-right: 2.5rem;
  }
}
@media only screen and (max-width: 59em) {
}
@media only screen and (max-width: 75em) {
  .contactform {
    margin-top: 4rem;
    width: 40%;
  }
  .contact-information-container {
    width: 35%;
  }
}
@media only screen and (min-width: 87.5em) {
  .contact {
    width: 1300px;
    margin: auto;
  }
} */
