.sports {
  margin-top: 1.31rem;
  display: flex;
  align-items: start;
  gap: 1.875rem;
  justify-content: center;
}
.sport-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid transparent;
  font-size: 1rem;
}
.sport-element > p {
  font-family: RobotoRegular;
}
.sport-element:hover {
  border-bottom: 4px solid #03a1cd;
}
@media (max-width: 56.25rem) {
  .sports {
    margin-top: 0;
    padding-top: 0.7rem;
    display: flex;
    align-items: start;
    gap: 1.5rem;
    justify-content: start;
    cursor: grabbing;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  .sport-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding-bottom: 0.6rem;
    border-bottom: 2px solid transparent;
  }
  .sport-image {
    width: 2.6rem;
    height: 2.6rem;
  }
  .sport-element:hover {
    border-bottom: 2px solid #03a1cd;
  }
}
