.sports {
  margin-top: 1.31rem;
  display: flex;
  align-items: start;
  gap: 1.875rem;
  justify-content: center;
}
.sports > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid transparent;
  font-size: 1rem;
}
.sports p {
  font-family: RobotoRegular;
}
.sports > div:hover {
  border-bottom: 4px solid #03a1cd;
}
@media (max-width: 56.25rem) {
  .sports {
    margin-top: 0;
    padding-top: 0.7rem;
    display: flex;
    align-items: start;
    gap: 1.625rem;
    justify-content: start;
    cursor: grabbing;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  .sports > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding-bottom: 0.6rem;
    border-bottom: 2.5px solid transparent;
  }
  .sports > div:hover {
    border-bottom: 2.5px solid #03a1cd;
  }
  .football {
    order: 1;
  }
  .boxing {
    order: 2;
  }
  .basketball {
    order: 3;
  }
  .nfl {
    order: 4;
  }
  .other {
    order: 5;
  }

  .sports p {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.125rem;
  }

  .sport-image {
    width: 3.125rem;
    height: 3.125rem;
  }
  .sport-element:hover {
    border-bottom: 2px solid #03a1cd;
  }
}
