.wrapper-2 {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  margin: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(16, 23, 26, 0.95),
      rgba(21, 26, 31, 0.938)
    ),
    url(../../../public/wallpaper/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* overscroll-behavior: none; */
}
.wrapper {
  padding: 0;
  margin: 0;
  background-image: none;
  /* overscroll-behavior: none; */
}

/* @media (min-width: 34rem) {
  .container {
    width: min(75%, 27rem);
    margin: auto;
  }
}
@media (min-width: 40rem) {
  .container {
    width: min(30rem, 70%);
    margin: auto;
  }
  .give-away-image {
    max-width: 75%;
  }
  .give-away-center-image {
    margin-top: 2.6rem;
    margin-left: 22%;
  }
} */
@media (min-width: 56.25rem) {
  .wrapper {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(16, 23, 26, 0.95),
        rgba(21, 26, 31, 0.938)
      ),
      url(../../../public/wallpaper/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overscroll-behavior: none;
  }

  /* .give-away {
    max-width: 35rem;
    margin: auto;
  }
  .container {
    margin-top: 3.65rem;
    width: 100%;
    margin-bottom: 3rem;
    padding-bottom: 9.2rem;
  }
  .give-away-heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.44rem;
  }
  .heading {
    font-family: RobotoRegular;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.78rem;
  }

  .give-away-wrapper {
    height: 65rem;
    grid-template-rows: 7.5% 1fr 40%;
    padding: 1.1rem 1rem 1.95rem 1.08rem;
  }
  .give-away-details {
    padding: 0 0.3rem 1.1rem 0.6875rem;
    font-family: RobotoRegular;
    font-size: 1.3125rem;
    line-height: 1.575rem;
    text-align: center;
  }
  .give-away-details-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .give-away-compition {
    position: relative;
    padding-top: 2.125rem;
  }
  .give-away-heading-2 {
    font-size: 2.72rem;
    line-height: 3.2rem;
    max-width: 72%;
  }
  .give-away-image {
    height: 70%;
    margin-top: -2rem;
    background: url("/svg/give-away/wrapper.svg");
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }
  .give-away-para {
    font-size: 1.6rem;
    line-height: 1.875rem;
    max-width: 85%;
    margin-top: 1rem;
  } */
}
