.container {
  width: 4.97rem;
  height: 2rem;
  border-radius: 0.35rem;
  background: #192228;
  display: flex;
  align-items: center;
  gap: 0.73rem;
  position: relative;
  padding-left: 1.6rem;
  padding-right: 0.94rem;
  cursor: pointer;
  align-self: start;
}
.item {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Poppins";
  font-size: 0.85rem;
  font-weight: 500;
  line-height: normal;
}
.arrow {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 56.25rem) {
  .container {
    align-self: flex-end;
    width: 4.88rem;
    height: 1.7rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: #4d545a;
    padding-left: 1.6rem;
    padding-right: 0.94rem;
  }
  .item {
    font-size: 0.75rem;
  }
  .arrow {
    font-size: 0.75rem;
  }
}
