.news {
  max-width: min(85%, 45rem);
  margin: 0 auto;
  padding-bottom: 2.5rem;
}
.top-heading {
  margin-top: 3.65rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: #00c4fb;
}
.heading {
  font-weight: 500;
  font-family: RobotoRegular;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.top-heading > span {
  flex-grow: 1;
  background-color: #00c4fb;
  height: 1px;
}

@media (max-width: 56.25rem) {
  .news {
    max-width: min(87%, 35rem);
    padding-bottom: 3rem;
  }
  .top-heading {
    margin-top: 2rem;
  }
  .heading {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
@media (max-width: 40.6rem) {
  .news {
    max-width: min(97%, 28rem);
    margin: 0 auto;
    padding-bottom: 3.375rem;
  }
  .top-heading {
    margin-top: 1.5rem;
    padding-left: 0.25rem;
    padding-right: 0.75rem;
  }
  .heading {
    line-height: 1.35rem;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .news {
    max-width: 100%;
    margin: 0 3px;
  }
}
