.container {
  width: 32.15rem;
  height: 8.76rem;
  border-radius: 0.45rem;
  background: #0d1317;
}
.elems {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
  padding: 1.4rem 0 0.94rem;
}
.elem {
  display: flex;
  align-items: center;
  gap: 0.94rem;
}
.first-row,
.sec-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.bottom-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.61rem 0 0.89rem;
  border-top: 1px solid rgba(63, 63, 63, 0.6);

  width: 87.5%;
  color: rgba(255, 255, 255, 0.48);
  font-family: "Poppins";
  font-size: 0.656rem;
  font-style: normal;
  font-weight: 400;
  line-height: 144.5%; /* 20.23px */
}
