.container {
  background: #ffffff;
  border-radius: 15px;
  width: 29.18rem;
  padding: 1.25rem 1.125rem 8.37rem;
}

.details {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.82rem;
  width: 100%;
}
.input-group {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.375rem;
  width: 100%;
}
.label {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: "Public Sans";
  color: #000000;
}
.input {
  background-color: rgba(123, 151, 206, 0.06);
  height: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.875rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: "Public Sans";
  border: 1px solid #007bff;
}
