.report {
  background: #0c1115;
  border-radius: 2.86rem;
  padding: 3.75rem 6.5rem 2.06rem 3.75rem;
  max-width: 30.7rem;
}
.causes {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}
.cause {
  display: flex;
  align-items: center;
  gap: 2.48rem;
}
.cause > span {
  width: 0.93rem;
  height: 0.93rem;
  border-radius: 50%;
  background-color: white;
}
.cause > p {
  font-weight: 600;
  font-size: 1.68rem;
  line-height: 1.97rem;
  color: white;
}
.try-again-para {
  font-weight: 400;
  font-size: 1.22rem;
  line-height: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1.7rem;
}
.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.send-button {
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00b1ff;
  border-radius: 2.53rem;
  color: white;
  font-weight: 600;
  font-size: 1.22rem;
  line-height: 1.4rem;
}
.close-button {
  background: inherit;
  color: white;
  font-weight: 500;
  font-size: 0.937rem;
  line-height: 1.07rem;
}
.send-button,
.close-button,
.cause {
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .report {
    border-radius: 1.7rem;
    padding: 2.25rem 3.9rem 1.2rem 2.25rem;
    max-width: 18.4rem;
  }
  .causes {
    gap: 1.2rem;
  }
  .cause {
    gap: 1.488rem;
  }
  .cause > span {
    width: 0.56rem;
    height: 0.56rem;
  }
  .cause > p {
    font-size: 1rem;
    line-height: 1.17rem;
  }
  .try-again-para {
    font-size: 0.732rem;
    line-height: 0.84rem;
    margin-top: 1.2rem;
    margin-bottom: 1.05rem;
  }
  .actions {
    gap: 0.72rem;
  }
  .send-button {
    width: 4.8rem;
    height: 1.6rem;
    border-radius: 1.5rem;
    font-size: 0.732rem;
    line-height: 0.84rem;
  }
  .close-button {
    font-size: 0.6rem;
    line-height: 0.7rem;
  }
}
