.report {
  background: #0c1115;
  border-radius: 2.86rem;
  padding: 3.75rem 3.75rem 2.06rem;
  max-width: 27.63rem;
}
.causes {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.8rem;
}
.cause {
  display: flex;
  align-items: center;
  gap: 2.23rem;
}
.cause > span {
  width: 0.837rem;
  height: 0.837rem;
  border-radius: 50%;
  background-color: white;
}
.cause > p {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.9rem;
  color: white;
}
.try-again-para {
  font-weight: 400;
  font-size: 1.098rem;
  line-height: 1.26rem;
  margin-top: 1.8rem;
  margin-bottom: 1.53rem;
}
.actions {
  display: flex;
  align-items: center;
  gap: 1.35rem;
}
.send-button {
  width: 7.2rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00b1ff;
  border-radius: 2.27rem;
  color: white;
  font-weight: 600;
  font-size: 1.098rem;
  line-height: 1.26rem;
}
.close-button {
  background: inherit;
  color: white;
  font-weight: 500;
  font-size: 0.84rem;
  line-height: 0.96rem;
}
.send-button,
.close-button,
.cause {
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .report {
    border-radius: 1.5rem;
    padding: 2.2rem 2.2rem 2.2rem 2.42rem;
    width: min(90%, 19rem);
  }
  .causes {
    gap: 1rem;
  }
  .cause {
    gap: 1.26rem;
  }
  .cause > span {
    width: 0.55rem;
    height: 0.55rem;
  }
  .cause > p {
    font-size: 1.275rem;
    line-height: 1.5rem;
  }
  .try-again-para {
    font-size: 0.78rem;
    line-height: 0.714rem;
    margin-top: 1.02rem;
    margin-bottom: 1.2rem;
  }
  .actions {
    gap: 0.8rem;
  }
  .send-button {
    width: 5rem;
    height: 1.7rem;
    border-radius: 2.86rem;
    font-size: 0.75rem;
    line-height: 0.85rem;
  }
  .close-button {
    font-size: 0.67rem;
    line-height: 0.8rem;
  }
}
