.wrapper {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(13, 19, 23, 0.953),
      rgba(13, 19, 23, 0.938)
    ),
    url(../../public/wallpaper/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overscroll-behavior: none;
}

.error {
  background: #0d1317;
  border-radius: 0.85rem;
  overflow: hidden;
  max-width: 44.5rem;
  margin: 5.85rem auto;
  padding-bottom: 7rem;
}
.first-section {
  padding: 3.46rem 4rem 2.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.875rem;
  /* height: 17.4375rem; */
}
.title {
  font-family: RobotoBold;

  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.76rem;
}
.error-message {
  font-family: RobotoRegular;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.92rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
  max-width: 72%;
}
.second-section {
  background: #172026;
  padding: 3.5rem 7rem 2.81rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 2.25rem 2rem;
  border-radius: 1.125rem;
}
.return-para {
  font-family: RobotoRegular;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.92rem;
}
.return-para > span {
  color: #00b1ff;
  border-bottom: 1px solid #00b1ff;
  cursor: pointer;
}
.button {
  background: #00b1ff;
  border-radius: 0.37rem;
  width: 7.6rem;
  height: 2.67rem;
  font-family: RobotoBold;
  font-weight: 700;
  font-size: 1.03rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
@media (max-width: 56.25rem) {
  .wrapper-2 {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
    margin: 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(13, 19, 23, 0.953),
        rgba(13, 19, 23, 0.938)
      ),
      url(../../public/wallpaper/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* overscroll-behavior: none; */
  }
  .wrapper {
    padding: 0;
    margin: 0;
    background-image: none;
    /* overscroll-behavior: none; */
  }

  .error {
    border-radius: 0.63rem;
    max-width: min(35rem, 95%);
    margin: 2.9rem auto;
    padding-bottom: 3.5rem;
  }
  .first-section {
    padding: 2.8rem 3rem 2.1rem;
    gap: 2.1rem;
  }
  .title {
    font-size: 1.87rem;
  }
  .error-message {
    font-size: 1.16rem;
    width: 78%;
  }
  .second-section {
    padding: 2.5rem 3rem;
    gap: 1.7rem;
  }
  .return-para {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
  .button {
    border-radius: 0.3rem;
    width: 6.2rem;
    height: 2.3rem;
    font-size: 0.82rem;
  }
}
@media (max-width: 31.25rem) {
  .error {
    border-radius: 0.63rem;
    max-width: min(35rem, 95%);
    margin: 2.5rem auto;
    padding-bottom: 3rem;
  }
  .first-section {
    padding: 1.86rem 2rem 1.4rem;
    gap: 1rem;
  }
  .title {
    font-size: 1.625rem;
    white-space: nowrap;
  }
  .error-message {
    font-size: 1rem;
    line-height: 1.375rem;
    max-width: 15.75rem;
  }
  .second-section {
    background: #172026;
    padding: 1.8rem 2.81rem 1.5rem;
    max-width: 100%;
    margin: 0 27px 30px;
    border-radius: 0.5rem;
    gap: 1.33rem;
  }
  .return-para {
    font-size: 1rem;
    line-height: 1.34rem;
    white-space: nowrap;
  }
  .button {
    border-radius: 0.26rem;
    width: 5.3rem;
    height: 1.87rem;
    font-size: 0.7rem;
  }
}
