.wrapper {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(13, 19, 23, 0.953),
      rgba(13, 19, 23, 0.938)
    ),
    url(../public/backimage.png);
  background-position: top;
  overscroll-behavior: none;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
}
.scroll-top {
  position: fixed;
  bottom: 29%;
  right: 8%;
  z-index: 10;
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .scroll-top {
    width: 20px;
    height: 20px;
    bottom: 15%;
  }
}
