/* .wrapper {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(13, 19, 23, 0.953),
      rgba(13, 19, 23, 0.938)
    ),
    url(../public/wallpaper/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overscroll-behavior: none;
} */

.wrapper {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}
.scroll-top {
  position: fixed;
  bottom: 29%;
  right: 8%;
  z-index: 100;
  cursor: pointer;
}
.telegram-link {
  width: 4.17rem;
  height: 4.17rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#2aabee, #229ed9);
  position: fixed;
  top: 35%;
  right: 5%;
  cursor: pointer;
  z-index: 10;
}
body .padding-lr {
  margin-bottom: 0.5rem !important;
}

@media (max-width: 56.25rem) {
  .scroll-top {
    width: 23px;
    height: 23px;
    bottom: 18%;
  }
  .telegram-icon {
    width: 22px;
    height: 18px;
  }
  .telegram-link {
    width: 3rem;
    height: 3rem;
    top: 22%;
    right: 4%;
  }
}
