.container {
  width: 85%;
  margin: auto;
}
.sports {
  margin-top: 1.93rem;
  display: flex;
  align-items: start;
  gap: 1.3rem;
  justify-content: center;
}
.sport-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.38rem;
  cursor: pointer;
  padding-bottom: 1rem;
  border-bottom: 4.5px solid transparent;
}
.time-zone {
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: .8rem;
  opacity: 0.5;
  margin-left: auto;
  display: flex;
  justify-content: end;
}
.sport-element:hover {
  border-bottom: 5px solid #03a1cd;
}
.matches-container {
  max-width: 63.75rem;
  margin: auto;
}
.other-matches {
  margin-top: 3.1rem;
  margin-bottom: 3.5rem;
}
.matches {
  margin-top: 0.5rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.6rem;
}
.title {
  font-size: 2.4rem;
  line-height: 2.7rem;
  margin-bottom: 1.3rem;
  margin-top: 1.75rem;
}
@media (max-width: 80rem) {
  .container {
    width: 90%;
  }
}
@media (max-width: 56.25rem) {
  .container {
    width: 95%;
    margin: auto;
  }
  .top-screen {
    display: flex;
    align-items: center;
    gap: 2.25rem;
    justify-content: center;
  }
  .top-screen-live-icon {
    background-color: #00c4fb;
  }
  .top-screen-live-icon > * {
    padding: 0.8rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sports {
    display: flex;
    align-items: start;
    gap: 1.5rem;
    justify-content: start;
    cursor: grabbing;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  .sport-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding-bottom: 0.6rem;
    border-bottom: 2px solid transparent;
  }
  .sport-image {
    width: 2.6rem;
    height: 2.6rem;
  }
  .sport-element:hover {
    border-bottom: 2px solid #03a1cd;
  }

  .time-zone {
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
    line-height: .8rem;
  }
  .title {
  font-size: 2.125rem;
  line-height: 1.4375rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

  .other-matches {
    margin-top: 2.125rem;
    margin-bottom: 0;
  }
}
@media (max-width: 50rem) {
  .matches{
    gap: 1rem;
  }
}