.container {
  width: 75%;
  margin: auto;
}
.time-zone {
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: .8rem;
  opacity: 0.5;
  margin-left: auto;
  display: flex;
  justify-content: end;
}
.matches-container {
  max-width: 52rem;
  margin: auto;
}
.other-matches {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}
.matches {
  margin-top: 0.5rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.6rem;
}
.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: .75rem;
}
@media (max-width: 80rem) {
  .container {
    width: 90%;
  }
}
@media (max-width: 56.25rem) {
  .container {
    width: 95%;
    margin: auto;
  }
  .top-screen {
    display: flex;
    align-items: center;
    gap: 2.25rem;
    justify-content: center;
  }
  .top-screen-live-icon {
    background-color: #00c4fb;
  }
  .top-screen-live-icon > * {
    padding: 0.8rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .time-zone {
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
    line-height: .8rem;
  }
  .title {
  font-size: 2.125rem;
  line-height: 1.4375rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

  .other-matches {
    margin-top: 2.125rem;
    margin-bottom: 0;
  }
}
@media (max-width: 50rem) {
  .matches{
    gap: 1rem;
  }
}