.watch-video-share {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5rem;
}
.wrapper {
  height: 1.25rem;
}
.wrapper,
.instagram,
.reddit {
  position: relative;
}
.tooltip {
  display: none;
}
.wrapper:hover > .tooltip,
.instagram:hover > .tooltip,
.reddit:hover > .tooltip {
  display: inline;
  position: absolute;
  top: -1.8rem;
  left: -2.5rem;
  z-index: 10;
  font-family: RobotoSemiBold;
  font-weight: 600;
  font-size: 0.65rem;
  line-height: 0%;
  background-color: #2b3134;
  border-radius: 0.25rem;
  padding: 0.67rem 0.71rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: #2b3134 transparent transparent transparent;
}
.watch-video-share > * {
  font-size: 1.25rem;
  color: rgba(128, 128, 128, 0.534);
  cursor: pointer;
}
/* .wrapper:hover > .twitter-icon {
  color: #1c96e8;
}
.wrapper:hover > .facebook-icon {
  color: #0094ff;
}
.wrapper:hover > .whatsapp-icon {
  color: #53c960;
} */
.instagram {
  height: 20px;
  border-radius: 0.5rem;
}
/* .instagram:hover {
  background: linear-gradient(to right bottom, #5442d6, #d7246e, #fec053);
} */
.instagram:hover > * {
  color: white;
  /* background:linear-gradient(#5442d6, #d7246e, #fec053); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.reddit {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.534);
  /* rgba(47, 52, 56, 0.9); */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2 ease-out;
}
/* .reddit:hover > *, */
.instagram:hover > *,
.wrapper:hover > * {
  /* color: #f74300; */
  color: white !important;
}
.reddit:hover {
  background-color: white;
}

.reddit-icon {
  font-size: 0.9rem;
  color: #1d2226;
  transition: all 0.2 ease-out;
}
.wrapper:hover > .telegram-icon {
  /* color: #0088cc; */
  color: #0088cc;
}
.wrapper:hover > .share-icon {
  color: rgb(252, 252, 252, 0.8);
}

.watch-video-share-icon:hover {
  opacity: 1;
}
.watch-video-share-text,
.watch-video-share-icon {
  cursor: pointer;
}
.watch-video-share-text {
  color: #ff4b4b;
  font-size: 0.75rem;
  line-height: 0.9rem;
  font-family: RobotoSemiBold;
  align-self: flex-end;
  margin-bottom: -2px;
}
@media (max-width: 56.25rem) {
  .watch-video-share {
    gap: 0.5rem;
  }
  .watch-video-share {
    align-items: end;
  }
  .instagram,
  .reddit,
  .wrapper > * {
    font-size: 1rem;
  }
  .instagram,
  .reddit {
    height: 1rem;
    width: 1rem;
  }

  .reddit-icon {
    font-size: 0.6rem;
  }

  .watch-video-share-text {
    font-size: 0.6rem;
    line-height: 0.68rem;
    margin-bottom: -1.5px;
  }
}
