.stadium {
  height: 38.8rem;
  width: 32.9rem;
  background: url("/svg/watch/baseball/pitch.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0%;
  position: relative;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.375rem;
  position: absolute;
  top: 12%;
  left: 28%;
}

/* .one {
  position: absolute;
  top: 12%;
  left: 28%;
}
.two {
  position: absolute;
  top: 12%;
  left: 61%;
}

.three {
  position: absolute;
  top: 29%;
  left: 28%;
}
.four {
  position: absolute;
  top: 29%;
  left: 61%;
}
.five {
  position: absolute;
  bottom: 12%;
  left: 28%;
}
.six {
  position: absolute;
  bottom: 12%;
  left: 61%;
}
.seven {
  position: absolute;
  bottom: 29%;
  left: 28%;
}
.player-name {
  color: #274122;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Roboto";
  font-weight: 600;
  line-height: normal;
} */
