.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.26rem;
}
.stadium {
  height: 17.09rem;
  width: 18.42rem;
  background: url("/svg/watch/wwe/pitch.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0%;
  position: relative;
}
