.chat-info,
.change-avatar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat::before {
  margin-top: 2rem;
}
.chat {
  margin: auto;
  width: 25rem;
  height: 30rem;
  background: #0d1318;
  border-radius: 0.475rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  overflow: hidden;
}
.chat-top {
  background-color: #03a1cd;
  height: 1.875rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.chat-top-text {
  font-size: 0.875rem;
  line-height: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  position: relative;
}
.chat-top-text:hover > .chat-rooms {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.chat-rooms {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -3.97rem;
  background-color: #03a1cd;
  width: 7.875rem;
  z-index: 10;
}
.chat-room,
.arabic {
  width: 100%;
  height: 1.78rem;
  display: flex;
  align-items: center;
  padding-left: 0.65rem;
  font-family: RobotoRegular;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9rem;
  cursor: pointer;
}
.arabic {
  font-family: "Poppins";
}
.chat-room:hover,
.arabic:hover {
  background-color: #0085aa;
}

.chat-top-extend,
.chat-top-exit {
  cursor: pointer;
}
.chat-body {
  flex-grow: 1;
  width: 100%;
  padding: 0.65rem 0.98rem 0 1.26rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.85rem;
  position: relative;
}
.message,
.my-message {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.message-details,
.my-message-details {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.7rem;
  margin-left: 3.5rem;
}
.message-username,
.my-message-username {
  font-family: RobotoRegular;
  font-weight: 500;
  font-size: 0.65rem;
  line-height: 1.25rem;
}
.my-message-time,
.message-time {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 0.75rem;
  color: rgba(255, 255, 255, 0.4);
}
.my-mention-user,
.mention-user {
  color: #03a1cd;
  font-weight: 700;
  font-family: RobotoBold;
  font-size: 0.75rem;
  line-height: 1.125rem;
  cursor: pointer;
}
.message-content,
.my-message-content {
  background: #292929;
  border-radius: 0.28rem;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
  padding: 0.375rem 1.17rem 0.1rem 0.98rem;
  display: inline;
}
.mention-icon {
  cursor: pointer;
}
.chat-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.85rem;
  width: 100%;
  padding: 1.4rem 0.98rem 0.93rem 1.125rem;
}
.chat-input {
  background-color: white;
  color: #afafaf;
  border-radius: 0.3rem;
  /* width: 63%; */
  padding: 0 0.85rem;
  height: 1.75rem;
  font-weight: 400;
  font-size: 0.65rem;
  line-height: 0.8rem;
}
.chat-bottom-send {
  min-width: 1.69rem;
  height: 1.69rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03a1cd;
  border-radius: 50%;
}
.chat-bottom-send:hover {
  background-color: rgba(3, 161, 205, 0.4);
}
.chat-bottom-send,
.chat-bottom-emojy,
.chat-bottom-user {
  cursor: pointer;
}
.my-message {
  justify-content: end;
}
.my-message-details {
  justify-content: start;
  margin-left: 0;
}
.my-message-username {
  color: #ffffff;
}
.my-mention-user {
  color: #e4e900;
}
.my-message-content {
  background: #03a1cd;
  color: white;
  max-width: 15.6rem;
}
.my-message-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.emojy {
  font-size: 1.4rem;
  color: white;
  background: black;
  border-radius: 55%;
  cursor: pointer;
}
.emojy-dev,
.user-dev {
  display: flex;
  align-self: center;
}
.emojy:hover,
.user-icon:hover {
  color: rgb(156, 155, 155);
  background: inherit;
}
.user-icon {
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 56.25rem) {
  .chat {
    margin: 0 13px 0 auto;
    width: min(18.812rem, 95%);
    height: 24.5rem;
    border-radius: 0.475rem;
  }
  .chat-top {
    background-color: #03a1cd;
    height: 1.3rem;
    padding: 0.55rem;
  }
  .chat-top-extend {
    width: 9px;
    height: 9px;
  }
  .chat-top-exit {
    width: 9px;
    height: 8px;
  }

  .chat-top-text {
    font-size: 0.7rem;
    line-height: 0.8rem;
    gap: 0.25rem;
  }
  .chat-rooms {
    margin-left: -3.15rem;
    width: 6.3rem;
  }
  .chat-room,
  .arabic {
    height: 1.4rem;
    padding-left: 0.52rem;
    font-size: 0.5rem;
    line-height: 0.72rem;
  }
  .chat-body {
    flex-grow: 1;
    padding: 0.17rem 0.7rem 0;
    gap: 0.5rem;
  }

  .message,
  .my-message {
    gap: 0.47rem;
  }
  .message-details,
  .my-message-details {
    gap: 0.3rem;
    margin-left: 2.27rem;
  }
  .message-username,
  .my-message-username {
    font-size: 0.45rem;
    line-height: 0.625rem;
  }
  .my-message-time,
  .message-time {
    font-size: 0.375rem;
    line-height: 0.567rem;
  }
  .user-avatar {
    height: 29px;
    width: auto;
  }

  .my-mention-user,
  .mention-user {
    font-size: 0.5rem;
    line-height: 0.75rem;
  }
  .message-content,
  .my-message-content {
    border-radius: 0.375rem;
    font-size: 0.5rem;
    line-height: 0.75rem;
    padding: 0.3125rem 0.875rem;
  }
  .mention-icon {
    margin-left: 3px;
    width: 8px;
    height: 8px;
  }

  .my-message-content {
    max-width: 10.43rem;
  }
  .my-message-details {
    margin-left: 0;
  }
  .chat-bottom {
    gap: 0.45rem;
    padding: 1.07rem 0.75rem 0.75rem 0.55rem;
  }
  .chat-input {
    background-color: white;
    color: #afafaf;
    border-radius: 0.3rem;
    /* width: 63%; */
    padding: 0 0.85rem;
    height: 1.75rem;
    font-weight: 400;
    font-size: 0.65rem;
    line-height: 0.8rem;
  }
  .chat-bottom-send {
    min-width: 22px;
    height: 22px;
    border-radius: 50%;
  }
}
