.chat::before {
  margin-top: 2rem;
}
.chat {
  margin: auto;
  width: 25rem;
  height: 30rem;
  background: #0d1318;
  border-radius: 0.475rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.chat-top {
  background-color: #03a1cd;
  height: 1.875rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.chat-top-text {
  font-size: 0.875rem;
  line-height: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  position: relative;
}
.chat-top-text:hover > .chat-rooms {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.chat-rooms {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -3.97rem;
  background-color: #03a1cd;
  width: 7.875rem;
  z-index: 10;
}
.chat-room,
.arabic {
  width: 100%;
  height: 1.78rem;
  display: flex;
  align-items: center;
  padding-left: 0.65rem;
  font-family: RobotoRegular;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9rem;
  cursor: pointer;
}
.arabic {
  font-family: "Poppins";
}
.chat-room:hover,
.arabic:hover {
  background-color: #0085aa;
}

.chat-top-extend,
.chat-top-exit {
  cursor: pointer;
}
.chat-body {
  width: 100%;
  padding: 1.78rem 0.85rem 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.47rem;
  position: relative;
}
.chat-info,
.change-avatar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message {
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.message-details {
  background: #292929;
  border-radius: 0.3rem;
  padding: 0.75rem 0.65rem 0.5rem;
  min-height: 2.5rem;
  display: flex;
  align-items: start;
  gap: 3rem;
  flex-grow: 1;
}
.message-username {
  font-size: 0.56rem;
  line-height: 0.65rem;
}
.message-content {
  font-size: 0.75rem;
  line-height: 0.9rem;
}
.chat-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.85rem;
  width: 100%;
  padding: 1.4rem 0.98rem 0.93rem 1.125rem;
}
.chat-input {
  background-color: white;
  color: #afafaf;
  border-radius: 0.3rem;
  /* width: 63%; */
  padding: 0 0.85rem;
  height: 1.75rem;
  font-weight: 400;
  font-size: 0.65rem;
  line-height: 0.8rem;
}
.chat-bottom-send {
  min-width: 1.69rem;
  height: 1.69rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03a1cd;
  border-radius: 50%;
}
.chat-bottom-send,
.chat-bottom-emojy,
.chat-bottom-user {
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .chat {
    width: 17.25rem;
    height: 21.43rem;
    border-radius: 0.375rem;
  }
  .chat-top {
    height: 1.3125rem;
    padding: 0.625rem 0.375rem;
  }
  .chat-top-text {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .chat-top-extend,
  .chat-top-exit {
    cursor: pointer;
  }
  .chat-body {
    width: 100%;
    padding: 1.78rem 0.85rem 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.47rem;
    position: relative;
  }
  .chat-info {
    position: absolute;
    top: 6rem;
    left: 3.45rem;
    height: max-content;
    width: max-content;
  }
  .message {
    width: calc(100% - 1.9rem);
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  .message-details {
    background: #292929;
    border-radius: 0.3rem;
    padding: 0.75rem 0.65rem 0.5rem;
    min-height: 2.5rem;
    display: flex;
    align-items: start;
    gap: 3rem;
    flex-grow: 1;
  }
  .message-username {
    font-size: 0.56rem;
    line-height: 0.65rem;
  }
  .message-content {
    font-size: 0.75rem;
    line-height: 0.9rem;
  }
  .chat-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.85rem;
    width: 100%;
    padding: 1.4rem 0.98rem 0.93rem 1.125rem;
  }
  .chat-input {
    background-color: white;
    color: #afafaf;
    border-radius: 0.3rem;
    /* width: 63%; */
    padding: 0 0.85rem;
    height: 1.75rem;
    font-weight: 400;
    font-size: 0.65rem;
    line-height: 0.8rem;
  }
  .chat-bottom-send {
    min-width: 1.69rem;
    height: 1.69rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03a1cd;
    border-radius: 50%;
  }
}
