.container {
  background: #ffffff;
  border-radius: 15px;
  width: 57.5rem;
  padding: 1.25rem 2rem 2rem 1.5rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.625rem;
}
.first,
.second,
.third {
  display: flex;
  align-items: center;
  gap: 3.56rem;
  width: 100%;
}
.input-group {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.125rem;
}
.label {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: "Public Sans";
  color: black;
}
.input {
  background-color: rgba(123, 151, 206, 0.06);
  height: 3rem;
  width: 23.18rem;
  border-radius: 0.5rem;
  padding: 0.875rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: "Public Sans";
  border: 1px solid #007bff;
}
.first .input-group:last-of-type .input,
.second .input-group:last-of-type .input {
  width: 27.3rem;
}
