.who-will-win {
  background: #0d1317;
  border-radius: 0.56rem;
  padding: 0.85rem 2.2rem 1.25rem 2.15rem;
  max-width: 26.7rem;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.first-team,
.second-team {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.82rem;
}
.second-team {
  margin-top: 0.6rem;
}
.first-team-percentage,
.second-team-percentage {
  flex-grow: 1;
  background-color: white;
  height: 0.75rem;
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
}
.first-team-percentage > span,
.second-team-percentage > span {
  border-radius: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #03a1cd;
  height: 100%;
}
.first-team-percentage > span {
  width: 73%;
}
.second-team-percentage > span {
  width: 27%;
}
