.news-letter {
  background: #182228;
  box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  gap: 8.7rem;
  padding: 2.9rem 2rem 2.76rem;
  max-width: 61rem;
  margin: auto;
}
.news-letter-first {
  display: flex;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
  max-width: 27.5rem;
}
.title {
  font-size: 1.7rem;
  font-family: RobotoBold;
  line-height: 2.34rem;
}
.para {
  color: rgba(255, 255, 255, 0.56);
  font-weight: 400;
  font-size: 1.17rem;
  line-height: 2.1rem;
}
.news-letter-second {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-direction: column;
}
.notify {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.notify-input {
  padding: 0.75rem;
  font-size: 0.85rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgba(18, 17, 39, 0.4);
  background-color: white;
  width: 12.5rem;
}
.notify-button {
  background-color: #01bcf1;
  border-radius: 0.5rem;
  padding: 0.65rem 2.05rem;
  font-size: 1.125rem;
  line-height: 1.7rem;
  font-family: RobotoRegular;
  color: white;
  white-space: nowrap;
  cursor: pointer;
}
.news-letter-second-para {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.36rem;
  color: rgba(255, 255, 255, 0.48);
}
.news-letter-second-para > span {
  color: #01bcf1;
  cursor: pointer;
}
@media (max-width: 75rem) {
  .container {
    gap: 3rem;
    padding: 2.56rem 1.7rem 2.34rem;
    max-width: 51rem;
  }
  .news-letter-first {
    gap: 0.85rem;
    max-width: 23.375rem;
  }
  .title {
    font-size: 1.45rem;
    line-height: 2rem;
  }
  .para {
    font-size: 1rem;
    line-height: 1.785rem;
  }
  .news-letter-second {
    gap: 0.51rem;
  }
  .notify {
    gap: 0.68rem;
  }
  .notify-input {
    padding: 0.63rem;
    font-size: 0.72rem;
    line-height: 1.275rem;
    width: 10.6rem;
  }
  .notify-button {
    border-radius: 0.425rem;
    padding: 0.55rem 1.75rem;
    font-size: 0.96rem;
    line-height: 1.45rem;
  }
  .news-letter-second-para {
    font-size: 0.63rem;
    line-height: 1.16rem;
  }
}

@media (max-width: 56.25rem) {
  .news-letter {
    display: none;
  }
}
