.container {
  width: 29.4rem;
}
.header,
.bordered-header,
.body,
.footer {
  width: 100%;
}
.header,
.bordered-header,
.body-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header,
.bordered-header {
  padding: 0 2.56rem 0 3.3rem;
  height: 2.9rem;
  border-radius: 0.47rem;
  background: rgba(13, 19, 23, 0.6);
}
.bordered-header {
  border-bottom: 5.6px solid #03a1cd;
}
.header-first,
.item-first {
  display: flex;
  align-items: center;
  gap: 2.3rem;
}
.item-second,
.header-second {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-column-gap: 2.6rem; */
  /* justify-items: center; */
  /* gap: 2.6rem; */
  align-items: center;
}
.item-second p,
.header-second p {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devider {
  display: block;
  width: 2.29rem;
  height: 1.26rem;
  background: #03a1cd;
  margin: auto;
}
.header-item {
  color: #727272;
  text-align: center;
  font-size: 0.93rem;
  font-family: "Poppins";
  font-weight: 600;
  line-height: normal;
}
.body {
  border-radius: 0.47rem;
  padding: 0.75rem 2.56rem 0.75rem 2.72rem;
  background: rgba(27, 38, 46, 0.8);
  display: flex;
  flex-direction: column;
  gap: 0.61rem;
}
.body-item p {
  color: #fff;
  font-size: 1.125rem;
  font-family: RobotoRegular;
  font-weight: 500;
  line-height: normal;
}

.recent-num,
.num {
  color: #5f5f5f;
  font-size: 0.935rem;
  font-family: "Poppins";
  font-weight: 600;
  line-height: normal;
  width: 1.64rem;
  height: 1.64rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recent-num {
  color: #fff;
  background: #007fdb;
  border-radius: 50%;
}
.footer {
  height: 2.57rem;
  border-radius: 0.47rem;
  background: rgba(13, 19, 23, 0.6);
  padding-left: 3.6rem;
  display: flex;
  align-items: center;
  gap: 1.78rem;
}
.footer-element {
  display: flex;
  align-items: center;
  gap: 0.47rem;
}
.footer p {
  color: #fff;
  font-size: 0.75rem;
  font-family: "Roboto Condensed";
  font-weight: 400;
  line-height: normal;
}
.blue-circle,
.green-circle {
  width: 0.61rem;
  height: 0.61rem;
  border-radius: 0.61rem;
}
.blue-circle {
  background: #007fdb;
}
.green-circle {
  background: #00db3d;
}
