.footer {
  box-sizing: border-box;
  background-color: var(--background);
  padding: 3.255rem 0 1.5rem;
}
.footer-container {
  display: grid;
  max-width: 90%;
  margin: auto;
  grid-template-columns: 11rem 1fr 35%;
  grid-column-gap: 4%;
}
.footer-social {
  display: none;
}
.footer-container-disclaimer {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.6rem;
}
.footer-container-disclaimer > h3 {
  font-size: 2.137rem;
  line-height: 2.5rem;
}
.footer-container-disclaimer > p {
  font-size: 0.9rem;
  line-height: 1.07rem;
  opacity: 0.75;
}
.footer-actions {
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
  margin-top: 1.6rem;
  justify-content: center;
}
.footer-actions-mobile {
  display: none;
}
.protected-button,
.dmca-button {
  padding: 0.15rem 0.9rem;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
}
.protected-button {
  background-color: #00c3fa;
}
.dmca-button {
  background-color: #fefe00;
}
.footer-container-second {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-left: 3vw;
}
.footer-container-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.footer-container-links-list-item {
  cursor: pointer;
}

.footer-container-links-heading {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.36rem;
  margin-bottom: 0.7rem;
  white-space: nowrap;
}
.footer-container-links-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.45rem;
  line-height: 0.95rem;
  font-size: 0.83rem;
  font-weight: 400;
  color: #666769;
}
.copy-write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding-top: 1.65rem;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 0.56);
}
.copy-write-links {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.copy-write-social {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.mobile-news-letter {
  display: none;
}
@media (max-width: 84.375rem) {
  .footer-container {
    grid-template-columns: 11rem 1fr 30%;
  }
  .footer-container-disclaimer > h3 {
    font-size: 2rem;
    line-height: 2.3rem;
  }
  .footer-container-disclaimer > p {
    font-size: 0.7rem;
    line-height: 0.9rem;
    opacity: 0.75;
  }
  .footer-container-second {
    margin-left: 0;
  }
  .footer-container-links-heading {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  .footer-container-links-list {
    line-height: 0.9rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 56.25rem) {
  .footer {
    margin-top: 3rem;
    padding: 0.75rem 0 0.375rem;
  }
  .footer-container {
    display: block;
    max-width: 65%;
    margin: auto;
  }
  .footer-container-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  .footer-social-element {
    background-color: rgba(78, 78, 78, 0.43);
    padding: 0.58rem;
    border-radius: 0.5rem;
    display: flex;
  }
  .footer-container-disclaimer {
    margin-top: 1.5rem;
  }
  .footer-container-disclaimer > h3 {
    font-size: 1.1rem;
    line-height: 1.25rem;
    align-self: center;
  }
  .footer-container-disclaimer > p {
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: #eeeeee;
    opacity: 1;
  }
  .footer-actions-mobile {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    padding-top: 0.812rem;
    justify-content: center;
    margin: auto;
  }

  .contact-email {
    align-self: center;
  }
  .footer-actions {
    display: none;
  }
  .footer-container-second {
    margin-top: 1.75rem;
  }
  .footer-container-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .footer-container-links-heading {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.875rem;
    margin-bottom: 0.6rem;
  }
  .footer-container-links-list {
    gap: 0.45rem;
    line-height: 0.95rem;
    font-size: 0.625rem;
    font-weight: 400;
  }
  .copy-write {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    font-size: 0.625rem;
    line-height: 1.125rem;
    gap: 0.125rem;
  }
  .mobile-news-letter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.1875rem;
  }
  .mobile-news-letter-input {
    padding: 0.4rem 0.75rem;
    background: inherit;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 0.375rem;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.625rem;
    line-height: 1.125rem;
    width: 10.75rem;
  }
  .mobile-news-letter-button {
    background-color: #01bcf1;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.625rem;
    line-height: 1.5rem;
    color: white;
    height: 2.0625rem;
    width: 5.125rem;
  }
  .copy-write-para {
    order: 3;
  }
  .copy-write-links {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  .copy-write-social {
    display: none;
  }
}
@media (max-width: 40.6rem) {
  .footer-container {
    display: block;
    max-width: 75%;
    margin: auto;
  }
}
@media (max-width: 31.25rem) {
  .footer-container {
    display: block;
    max-width: 85%;
    margin: auto;
  }
  .footer-social {
    width: 100%;
  }
}
