.stadium {
  width: 24.2rem;
  height: 38.9rem;
  background: url("/svg/watch/hockey/pitch.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0%;
  position: relative;
}
.player-name {
  color: #677f8b;
  font-size: 0.8rem;
  font-family: RobotoSemiBold;
  font-weight: 600;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.one {
  position: absolute;
  top: 10%;
  left: 40%;
}
.two {
  position: absolute;
  top: 15%;
  left: 15%;
}

.three {
  position: absolute;
  top: 15%;
  left: 64%;
}
.four {
  position: absolute;
  top: 38%;
  left: 7%;
}
.five {
  position: absolute;
  top: 38%;
  left: 40%;
}
.six {
  position: absolute;
  top: 38%;
  left: 70%;
}
.seven {
  position: absolute;
  bottom: 10%;
  left: 40%;
}
.eight {
  position: absolute;
  bottom: 15%;
  left: 15%;
}
.nine {
  position: absolute;
  bottom: 15%;
  left: 64%;
}
.ten {
  position: absolute;
  bottom: 38%;
  left: 7%;
}
.eleven {
  position: absolute;
  bottom: 38%;
  left: 40%;
}
.twelve {
  position: absolute;
  bottom: 38%;
  left: 70%;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5.53rem;
}
