.wrapper {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(13, 19, 23, 0.953),
      rgba(13, 19, 23, 0.938)
    ),
    url(../../public/wallpaper/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overscroll-behavior: none;
}

.news {
  max-width: min(85%, 45rem);
  margin: 0 auto;
  padding-bottom: 2.5rem;
}
.top-heading {
  margin-top: 3.65rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: #00c4fb;
}
.heading {
  font-weight: 500;
  font-family: RobotoRegular;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.top-heading > span {
  flex-grow: 1;
  background-color: #00c4fb;
  height: 1px;
}

.container {
  width: 100%;
  margin-top: 1.07rem;
  background-color: #0d1317;
  border-radius: 1.125rem;
  padding: 0;
}
.news-items {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.news-item {
  display: flex;
  align-items: start;
  gap: 1.17rem;
  padding: 18.4px 36.75px 20.4px 22.5px;
  cursor: pointer;
}
.news-item-image {
  width: 13.2rem;
  height: 11rem;
  border-radius: 0.6rem;
}
.news-item-content {
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.625rem;
  padding-right: 1.3rem;
}
.news-item-heading {
  font-family: RobotoBold;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3215rem;
}
.news-item-para {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}
.paginations {
  margin-top: 1.36rem;
}
.paginations > * {
  color: white;
}
.paginations-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.125rem;
}
.next,
.previous {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.paginations-option:hover,
.next:hover,
.previous:hover {
  color: #01bcf1;
  cursor: pointer;
}
.arrow {
  font-size: 1.4rem;
}
.paginations-option {
  font-size: 1rem;
  line-height: 1.22rem;
}
.previous > p,
.next > p {
  font-size: 1rem;
  line-height: 0.93rem;
}
@media (max-width: 56.25rem) {
  .wrapper-2 {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
    margin: 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(13, 19, 23, 0.953),
        rgba(13, 19, 23, 0.938)
      ),
      url(../../public/wallpaper/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* overscroll-behavior: none; */
  }
  .wrapper {
    padding: 0;
    margin: 0;
    background-image: none;
    /* overscroll-behavior: none; */
  }

  .news {
    max-width: min(87%, 35rem);
    padding-bottom: 3rem;
  }
  .top-heading {
    margin-top: 2rem;
  }
  .heading {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .container {
    margin-top: 0.92rem;
    border-radius: 0.97rem;
    padding: 0.1rem 0 0.65rem;
  }
  .news-item {
    gap: 1rem;
    padding: 0.65rem 1.3rem 0.65rem;
  }
  .news-item-image {
    width: 11.48rem;
    height: 9.57rem;
    border-radius: 0.522rem;
  }
  .news-item-content {
    margin-top: 0.54rem;
    gap: 0.54rem;
    padding-right: 1.13rem;
  }
  .news-item-heading {
    font-size: 0.97rem;
    line-height: 1.15rem;
  }
  .news-item-para {
    font-size: 0.65rem;
    line-height: 0.78rem;
  }
  .paginations {
    margin-top: 1.875rem;
  }
  .paginations-options {
    gap: 0.81rem;
  }
  .next,
  .previous {
    gap: 0.1rem;
  }
  .arrow {
    font-size: 1rem;
  }
  .paginations-option,
  .previous > p,
  .next > p {
    font-size: 0.625rem;
    line-height: 1.25rem;
  }
}
@media (max-width: 40.6rem) {
  .news {
    max-width: min(97%, 28rem);
    margin: 0 auto;
    padding-bottom: 3.375rem;
  }
  .top-heading {
    margin-top: 1.5rem;
    padding-left: 0.25rem;
    padding-right: 0.75rem;
  }
  .heading {
    line-height: 1.35rem;
    font-size: 1rem;
  }
  .container {
    margin-top: 0.5rem;
    background-color: #0d1317;
    border-radius: 0.625rem;
  }
  .news-item {
    gap: 0.76rem;
    padding: 0.7rem 0.9rem;
  }
  .news-item-image {
    width: 129px;
    height: 100px;
    border-radius: 0.3rem;
  }
  .news-item-content {
    margin-top: 0.5rem;
    gap: 0.5rem;
    padding-right: 3px;
  }
  .news-item-heading {
    font-size: 0.68rem;
    line-height: 0.82rem;
  }
  .news-item-para {
    font-weight: 500;
    font-family: RobotoRegular;
    font-size: 0.5rem;
    line-height: 0.567rem;
  }
}
@media (max-width: 600px) {
  .news {
    max-width: 100%;
    margin: 0 3px;
  }
}
