.sport-category {
  width: 13.86rem;
  background: white;
  border-radius: 13.2px;
  padding: 1.21rem 4.49rem 1.43rem 1.7rem;
}

.title {
  font-family: "Public Sans";
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.32rem;
  color: #000000;
}

.categories {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.43rem;
  margin-top: 1.144rem;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Public Sans";
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.1rem;
  color: #000000;
  width: 100%;
  cursor: pointer;
}

.category p {
  font-family: "Public Sans";
}

.check {
  width: 8.8px;
  height: 8.8px;
  background: #c0c0c0;
}
