.stadium {
  width: 25.7rem;
  height: 42.3rem;
  background: url("/svg/watch/netball/pitch.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0%;
  position: relative;
}
