.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
  /* margin-top: 5rem; */
}
.header {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 2rem;
}
.header-item {
  font-weight: 700;
  font-family: RobotoBold;
  font-size: 1.125rem;
  line-height: 1.31rem;
  cursor: pointer;
  padding: 1rem 0.92rem;
  margin-bottom: 0.32rem;
  border-bottom: 2.5px solid transparent;
  border-radius: 0.3rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.3s ease-out;
}
.stadium {
  background: url("/svg/watch/nnfl-background.svg");
  background-size: 100%;
  width: 18.28rem;
  height: 35.6rem;
  position: relative;
}

.stadium p {
  font-weight: 600;
  font-family: RobotoSemiBold;
  font-size: 0.65rem;
  line-height: 0.75rem;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.thirteen,
.fourteen,
.fivteen,
.sixteen,
.seventeen,
.eighteen,
.nineteen,
.twenty,
.twenty-one,
.twenty-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #274122;
}

.one {
  position: absolute;
  top: 5%;
  left: 10%;
}
.two {
  position: absolute;
  top: 5%;
  left: 36%;
}
.three {
  position: absolute;
  top: 5%;
  left: 50%;
}
.four {
  position: absolute;
  top: 5%;
  left: 80%;
}
.five {
  position: absolute;
  top: 20%;
  left: 10%;
}
.six {
  position: absolute;
  top: 20%;
  left: 36%;
}
.seven {
  position: absolute;
  top: 20%;
  left: 50%;
}
.eight {
  position: absolute;
  top: 20%;
  left: 80%;
}
.nine {
  position: absolute;
  top: 35%;
  left: 25%;
}
.ten {
  position: absolute;
  top: 35%;
  left: 55%;
}
.eleven {
  position: absolute;
  top: 35%;
  left: 75%;
}
.twelve {
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.thirteen {
  position: absolute;
  bottom: 5%;
  left: 36%;
}
.fourteen {
  position: absolute;
  bottom: 5%;
  left: 50%;
}
.fivteen {
  position: absolute;
  bottom: 5%;
  left: 80%;
}
.sixteen {
  position: absolute;
  bottom: 20%;
  left: 10%;
}
.seventeen {
  position: absolute;
  bottom: 20%;
  left: 36%;
}
.eighteen {
  position: absolute;
  bottom: 20%;
  left: 50%;
}
.nineteen {
  position: absolute;
  bottom: 20%;
  left: 80%;
}
.twenty {
  position: absolute;
  bottom: 35%;
  left: 25%;
}
.twenty-one {
  position: absolute;
  bottom: 35%;
  left: 55%;
}
.twenty-two {
  position: absolute;
  bottom: 35%;
  left: 75%;
}
.takticks {
  display: flex;
  align-items: center;
  gap: 3.94rem;
  width: 100%;
}
.substitute-first-team,
.substitute-second-team {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.375rem;
}
.substitute-player {
  display: flex;
  align-items: center;
  gap: 0.56rem;
}
.substitute-player p {
  font-weight: 600;
  font-family: RobotoSemiBold;
  font-size: 0.54rem;
  line-height: 0.65rem;
}
.stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  width: 15rem;
  margin: 0 20% 0 14%;
}
.stats-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.stats-option p {
  font-family: RobotoBold;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.31rem;
}
.events {
  display: flex;
  align-items: center;
  gap: 0.85rem;
  flex-direction: column;
  max-width: min(70%, 19rem);
  margin-top: 0.56rem;
}
.events-para {
  font-family: RobotoBold;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.31rem;
  color: #ffffff;
}
@media (max-width: 56.25rem) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1.08rem;
  }
  .header {
    gap: 0.87rem;
  }
  .header-item {
    font-size: 0.81rem;
    line-height: 0.92rem;
    padding: 1rem 0.92rem;
    margin-bottom: 0;
    border-bottom: 1.5px solid transparent;
  }
  .takticks {
    gap: 1.07rem;
  }

  .stadium {
    width: 10.2rem;
    height: 19.6rem;
    position: relative;
  }
  .stadium img {
    width: 22px;
    height: 18px;
  }

  .stadium p {
    font-size: 0.54rem;
    line-height: 0.65rem;
  }
  .substitute-first-team,
  .substitute-second-team {
    gap: 0.22rem;
  }
  .substitute-player {
    gap: 0.32rem;
  }
  .substitute-player img {
    width: 21px;
    height: 17px;
  }
  .substitute-player p {
    font-size: 0.54rem;
    line-height: 0.65rem;
  }
  .stats {
    gap: 0.5rem;
  }
  .stats-option p {
    font-size: 0.93rem;
    line-height: 1rem;
  }
  .events {
    gap: 0.5rem;
    max-width: 20rem;
    margin-top: 0.56rem;
  }
  .events-para {
    font-size: 0.85rem;
    line-height: 0.95rem;
  }
}
