.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2.325rem;
  /* margin-top: 5rem; */
}
.header {
  display: flex;
  align-items: center;
  /* justify-self: end; */
  gap: 2rem;
  /* width: 23.4rem; */
}
.header-item {
  font-weight: 700;
  font-family: RobotoBold;
  font-size: 1.125rem;
  line-height: 1.31rem;
  cursor: pointer;
  padding: 1rem 0.92rem;
  margin-bottom: 0.32rem;
  border-bottom: 2px solid transparent;
  border-radius: 0.3rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.3s ease-out;
}
.header-item:first-of-type {
  margin-right: 29.25px;
}
.stadium {
  background: url("/svg/watch/football-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20.5rem;
  height: 23.85rem;
  position: relative;
}

.goalkeaper-first {
  position: absolute;
  top: 14.25px;
  left: 147.3px;
}
.stadium p {
  font-weight: 600;
  font-family: RobotoSemiBold;
  font-size: 0.65rem;
  line-height: 0.75rem;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.thirteen,
.fourteen,
.fivteen,
.sixteen,
.seventeen,
.eighteen,
.nineteen,
.twenty,
.goalkeaper-first,
.goalkeaper-second {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #274122;
}

.one {
  position: absolute;
  top: 36px;
  left: 39.25px;
}
.two {
  position: absolute;
  top: 49.5px;
  left: 109.5px;
}
.three {
  position: absolute;
  top: 46.5px;
  left: 197.25px;
}
.four {
  position: absolute;
  top: 51px;
  left: 258px;
}
.five {
  position: absolute;
  top: 111px;
  left: 31.5px;
}
.six {
  position: absolute;
  top: 98.25px;
  left: 107.25px;
}
.seven {
  position: absolute;
  top: 102.75px;
  left: 185.25px;
}
.eight {
  position: absolute;
  top: 114.75px;
  left: 280px;
}
.nine {
  position: absolute;
  top: 124px;
  left: 229.5px;
}
.ten {
  position: absolute;
  top: 148.5px;
  left: 147px;
}
.goalkeaper-second {
  position: absolute;
  bottom: 2.25px;
  left: 147px;
}
.eleven {
  position: absolute;
  bottom: 36px;
  left: 35px;
}
.twelve {
  position: absolute;
  bottom: 28.5px;
  left: 102px;
}
.thirteen {
  position: absolute;
  bottom: 28.5px;
  left: 192.37px;
}
.fourteen {
  position: absolute;
  bottom: 32.25px;
  left: 264.75px;
}
.fivteen {
  position: absolute;
  bottom: 77px;
  left: 96.75px;
}
.sixteen {
  position: absolute;
  bottom: 77px;
  left: 196.5px;
}
.seventeen {
  position: absolute;
  bottom: 99px;
  left: 149px;
}
.eighteen {
  position: absolute;
  bottom: 132px;
  left: 39px;
}
.nineteen {
  position: absolute;
  bottom: 144px;
  left: 149.25px;
}
.twenty {
  position: absolute;
  bottom: 132px;
  left: 260px;
}
.red-card,
.yellow-card {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.3rem;
  height: 0.3rem;
  z-index: 10;
}
.yellow-card {
  background: #ffc700;
}
.red-card {
  background: #ff0000;
}
.takticks {
  display: flex;
  align-items: center;
  gap: 0.937rem;
  width: 100%;
}
.substitute-first-team,
.substitute-second-team {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.375rem;
}
.substitute-player {
  display: flex;
  align-items: center;
  gap: 0.56rem;
}
.substitute-player p {
  font-weight: 600;
  font-family: RobotoSemiBold;
  font-size: 0.65rem;
  line-height: 0.75rem;
}
.stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  width: 90%;
  margin: auto;
}
.stats-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.stats-option p {
  font-family: RobotoBold;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.31rem;
}
.subsitutes {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
}
.subsitutes-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
.subsitutes-item {
  display: flex;
  align-items: start;
  gap: 1.25rem;
}
.subsitutes-text > h4 {
  font-size: 0.7rem;
  font-weight: 400;
}
.subsitutes-text > p {
  color: gray;
  font-size: 0.6rem;
  font-weight: 400;
}

@media (max-width: 56.25rem) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1.18rem;
  }
  .header {
    gap: 0.87rem;
  }
  .header-item {
    font-size: 0.93rem;
    line-height: 1rem;
    padding: 1rem 0.92rem;
    margin-bottom: 0;
    border-bottom: 1.5px solid transparent;
  }
  .header-item:first-of-type {
    margin-right: 20px;
  }

  .takticks {
    gap: 0.4rem;
  }

  .stadium {
    background-image: url("/svg/watch/football-mobile.svg");
    width: 11.96rem;
    height: 15.5rem;
    position: relative;
  }
  .stadium img {
    width: 22px;
    height: 18px;
  }

  .stadium p {
    font-size: 0.54rem;
    line-height: 0.65rem;
  }
  .goalkeaper-first {
    position: absolute;
    top: 8px;
    left: 84.4px;
  }

  .one {
    position: absolute;
    top: 21.75px;
    left: 23.5px;
  }
  .two {
    position: absolute;
    top: 28.7px;
    left: 63px;
  }
  .three {
    position: absolute;
    top: 27.84px;
    left: 111.36px;
  }
  .four {
    position: absolute;
    top: 21px;
    left: 152px;
  }
  .five {
    position: absolute;
    top: 65px;
    left: 18px;
  }
  .six {
    position: absolute;
    top: 57.4px;
    left: 53.9px;
  }
  .seven {
    position: absolute;
    top: 59.5px;
    left: 108.2px;
  }
  .eight {
    position: absolute;
    top: 67px;
    left: 162.7px;
  }
  .nine {
    position: absolute;
    top: 72px;
    left: 133px;
  }
  .ten {
    position: absolute;
    top: 83.5px;
    left: 84.4px;
  }
  .goalkeaper-second {
    position: absolute;
    bottom: 2.25px;
    left: 78.3px;
  }
  .eleven {
    position: absolute;
    bottom: 34px;
    left: 17.5px;
  }
  .twelve {
    position: absolute;
    bottom: 28.7px;
    left: 58.3px;
  }
  .thirteen {
    position: absolute;
    bottom: 29.6px;
    left: 110.5px;
  }
  .fourteen {
    position: absolute;
    bottom: 31.3px;
    left: 154px;
  }
  .fivteen {
    position: absolute;
    bottom: 58.3px;
    left: 52.2px;
  }
  .sixteen {
    position: absolute;
    bottom: 60px;
    left: 115.7px;
  }
  .seventeen {
    position: absolute;
    bottom: 71px;
    left: 84.4px;
  }
  .eighteen {
    position: absolute;
    bottom: 87.9px;
    left: 24px;
  }
  .nineteen {
    position: absolute;
    bottom: 100px;
    left: 84.4px;
  }
  .twenty {
    position: absolute;
    bottom: 87.9px;
    left: 147.9px;
  }
  .red-card,
  .yellow-card {
    width: 0.26rem;
    height: 0.26rem;
  }
  .substitute-first-team,
  .substitute-second-team {
    gap: 0.22rem;
  }
  .substitute-player {
    gap: 0.32rem;
  }
  .substitute-player img {
    width: 21px;
    height: 17px;
  }
  .substitute-player p {
    font-size: 0.54rem;
    line-height: 0.65rem;
  }
  .stats {
    gap: 0.5rem;
  }
  .stats-option p {
    font-size: 0.93rem;
    line-height: 1rem;
  }
}
