.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2.325rem;
  /* margin-top: 5rem; */
}
.header {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 2rem;
}
.header-item {
  font-weight: 600;
  font-family: RobotoBold;
  font-size: 1.125rem;
  line-height: 1.31rem;
  cursor: pointer;
  padding: 1rem 0.92rem;
  margin-bottom: 0.32rem;
  border-bottom: 2px solid transparent;
  border-radius: 0.3rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.3s ease-out;
}
.stadium {
  width: 18.75rem;
  height: 32rem;
  background: url("/svg/watch/basketball-background.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.stadium p {
  font-weight: 600;
  font-family: RobotoSemiBold;
  font-size: 0.65rem;
  line-height: 0.75rem;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #274122;
}

.one {
  position: absolute;
  top: 15%;
  left: 10%;
}
.two {
  position: absolute;
  top: 20%;
  left: 45%;
}
.three {
  position: absolute;
  top: 15%;
  left: 80%;
}
.four {
  position: absolute;
  top: 38%;
  left: 20%;
}
.five {
  position: absolute;
  top: 38%;
  left: 73%;
}
.six {
  position: absolute;
  bottom: 15%;
  left: 10%;
}
.seven {
  position: absolute;
  bottom: 20%;
  left: 45%;
}
.eight {
  position: absolute;
  bottom: 15%;
  left: 80%;
}
.nine {
  position: absolute;
  bottom: 38%;
  left: 20%;
}
.ten {
  position: absolute;
  bottom: 38%;
  left: 73%;
}
.takticks {
  display: flex;
  align-items: center;
  gap: 3.98rem;
  width: 100%;
}
.substitute-first-team,
.substitute-second-team {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
}
.substitute-player {
  display: flex;
  align-items: center;
  gap: 0.56rem;
}
.substitute-player p {
  font-weight: 600;
  font-family: RobotoSemiBold;
  font-size: 0.65rem;
  line-height: 0.75rem;
}
.stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  width: 90%;
  margin: auto;
}
.stats-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140%;
}
.stats-option p {
  font-family: RobotoBold;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.31rem;
}
@media (max-width: 56.25rem) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    gap: 1.125rem;
    margin: auto;
  }
  .header {
    gap: 0.87rem;
    margin-top: 0.4rem;

  }
  .header-item {
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 1rem 0.92rem;
    margin-bottom: 0;
    border-bottom: 1.5px solid transparent;
  }
  .takticks {
    gap: 0.55rem;
  }

  .stadium {
    width: 11.8rem;
    height: 19.45rem;
    position: relative;
  }
  .stadium img {
    width: 22px;
    height: 20px;
  }

  .stadium p {
    font-size: 0.54rem;
    line-height: 0.65rem;
  }
  .four {
    top: 30%;
  }
  .five {
    top: 30%;
  }
  .nine {
    bottom: 30%;
  }
  .ten {
    bottom: 30%;
  }
  .substitute-first-team,
  .substitute-second-team {
    gap: 0.2rem;
  }
  .substitute-player {
    gap: 0.32rem;
  }
  .substitute-player img {
    width: 20px;
    height: 18px;
  }
  .substitute-player p {
    font-size: 0.54rem;
    line-height: 0.65rem;
  }
  .stats {
    gap: 0.5rem;
  }
  .stats-option p {
    font-size: 0.93rem;
    line-height: 1rem;
  }
}
