.plans {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 17rem;
}
.slider .slick-slide.slick-active.slick-current {
  width: 100% !important;
}
.plans > * {
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 75rem) {
  .plans > * {
    border-radius: 0.525rem;
    box-shadow: 0px 3px 17.25px 0px rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 50rem) {
  .plans {
    display: none;
  }
}
/* @media (max-width: 50rem) {
  .plans {
    display: none;
  }
  .plans > * {
    border-radius: 0.44rem;
    box-shadow: 0px 2.49px 14.34px 0px rgba(0, 0, 0, 0.5);
  }
  .freebie {
    padding: 1.11rem 1.14rem 1.17rem 1.11rem;
    min-width: 13.22rem;
    height: 37.19rem;
    gap: 1.17rem;
    margin-right: -0.87rem;
    margin-top: 18.17px;
  }
  .yearly {
    width: 13.86rem;
    height: 40.45rem;
    padding: 1.93rem 1.51rem 1.49rem 1.28rem;
  }
  .monthly {
    width: 13.33rem;
    height: 37.78rem;
    padding: 1.08rem 1.51rem 1.17rem 1.11rem;
    margin-left: -0.41rem;
    margin-top: 20.05px;
  }

  .plan-header {
    gap: 0.32rem;
    margin-bottom: 0.58rem;
  }
  .monthly .plan-header {
    margin-bottom: 0.5rem;
  }
  .header-title {
    font-size: 0.87rem;
  }
  .header-description {
    font-size: 0.64rem;
  }
  .price {
    font-size: 1.68rem;
    font-weight: 435.75;
  }
  .price .time {
    font-size: 0.53rem;
  }
  .comming-soon {
    width: 11.01rem;
    height: 1.56rem;
    padding: 0.17rem 0.35rem;
    gap: 0.12rem;
    border-radius: 0.12rem;
    font-size: 0.58rem;
    margin: 0.7rem 0 1.17rem;
  }
  .monthly .comming-soon {
    margin: 0.61rem 0 1.06rem;
  }
  .features {
    gap: 0.38rem;
  }
  .yearly .features {
    gap: 0.35rem;
  }
  .supported-feature,
  .not-supported-feature {
    font-size: 0.7rem;
    gap: 0.5rem;
  }
  .yearly .supported-feature {
    font-size: 0.64rem;
  }
  .monthly .supported-feature {
    font-size: 0.64rem;
  }
} */
@media (max-width: 50rem) {
  /* .plans {
    display: none;
  } */
  .slider-wrapper {
    width: 22rem;
    margin: auto;
  }
  .slider {
    width: 100%;
  }
  /* .plans .slick-slide {
    width: 20rem !important;
  } */
  /* .freebie,
  .monthly,
  .yearly {
    width: 20rem !important;
  } */
}
