.plans {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.plans > * {
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.5);
}
.freebie {
  padding: 1.78rem 1.83rem 1.875rem 1.78rem;
  min-width: 21.23rem;
  height: 47.15rem;
  gap: 1.875rem;
  background: #1a2126;
  margin-right: -1.4rem;
  margin-top: 29.25px;
}
.yearly {
  width: 22.26rem;
  height: 50.6rem;
  padding: 3.1rem 2.43rem 2.4rem 2.06rem;
  background: #0099ca;
  z-index: 2;
}
.monthly {
  width: 21.4rem;
  height: 47.15rem;
  padding: 1.73rem 2.43rem 1.875rem 1.78rem;
  margin-left: -0.656rem;
  background: #fff;
  margin-top: 32.25px;
}

.plan-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.51rem;
  margin-bottom: 0.937rem;
}
.monthly .plan-header {
  margin-bottom: 0.798rem;
}
.header-title {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Manrope";
  font-weight: 700;
}
.header-description {
  color: #8d9fb8;
  font-size: 1.03rem;
  font-family: "Manrope";
  font-weight: 500;
}
.yearly .header-description {
  color: #f7f8f9;
}
.monthly .header-description {
  color: #8a8a8a;
}

.monthly .price,
.monthly .header-title {
  color: #191d23;
}

.price {
  color: #fff;
  font-size: 2.7rem;
  font-family: "Manrope";
  font-weight: 700;
}
.price .time {
  color: #a9c2e4;
  font-size: 0.85rem;
  font-family: "Manrope";
  font-weight: 300;
}
.yearly .price .time {
  color: #f7f8f9;
}
.monthly .price .time {
  color: #4b5768;
}
.comming-soon {
  display: flex;
  width: 17.7rem;
  height: 2.5rem;
  padding: 0.28rem 0.56rem;
  justify-content: center;
  align-items: center;
  gap: 0.187rem;
  align-self: stretch;
  border-radius: 0.187rem;
  background: #fff;
  color: #1d4ed8;
  text-align: center;
  font-size: 0.93rem;
  font-family: "Manrope";
  font-weight: 600;
  margin: 1.125rem 0 1.875rem;
}
.monthly .comming-soon {
  border: 1.5px solid #1d4ed8;
  margin: 0.98rem 0 1.7rem;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 0.609rem;
}
.yearly .features {
  gap: 0.56rem;
}
.supported-feature,
.not-supported-feature {
  color: #fff;
  font-size: 1.125rem;
  font-family: "Manrope";
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.yearly .supported-feature {
  font-size: 1.03rem;
}
.monthly .supported-feature {
  color: #1d4ed8;
  font-size: 1.03rem;
}
.not-supported-feature {
  color: #a0abbb;
}
/* @media (max-width: 75rem) {
  .plans > * {
    border-radius: 0.7rem;
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.5);
  }
  .freebie {
    padding: 1.78rem 1.83rem 1.875rem 1.78rem;
    min-width: 21.23rem;
    height: 47.15rem;
    gap: 1.875rem;
    margin-right: -1.4rem;
    margin-top: 29.25px;
  }
  .yearly {
    width: 22.26rem;
    height: 50.6rem;
    padding: 3.1rem 2.43rem 2.4rem 2.06rem;
  }
  .monthly {
    width: 21.4rem;
    height: 47.15rem;
    padding: 1.73rem 2.43rem 1.875rem 1.78rem;
    margin-left: -0.656rem;
    margin-top: 32.25px;
  }

  .plan-header {
    gap: 0.51rem;
    margin-bottom: 0.937rem;
  }
  .monthly .plan-header {
    margin-bottom: 0.798rem;
  }
  .header-title {
    font-size: 1.4rem;
  }
  .header-description {
    font-size: 1.03rem;
  }
  .price {
    font-size: 2.7rem;
    font-weight: 700;
  }
  .price .time {
    font-size: 0.85rem;
  }
  .comming-soon {
    width: 17.7rem;
    height: 2.5rem;
    padding: 0.28rem 0.56rem;
    gap: 0.187rem;
    border-radius: 0.187rem;
    font-size: 0.93rem;
    margin: 1.125rem 0 1.875rem;
  }
  .monthly .comming-soon {
    margin: 0.98rem 0 1.7rem;
  }
  .features {
    gap: 0.609rem;
  }
  .yearly .features {
    gap: 0.56rem;
  }
  .supported-feature,
  .not-supported-feature {
    font-size: 1.125rem;
    gap: 0.8rem;
  }
  .yearly .supported-feature {
    font-size: 1.03rem;
  }
  .monthly .supported-feature {
    font-size: 1.03rem;
  }
} */
@media (max-width: 75rem) {
  .plans > * {
    border-radius: 0.525rem;
    box-shadow: 0px 3px 17.25px 0px rgba(0, 0, 0, 0.5);
  }
  .freebie {
    padding: 1.335rem 1.3725rem 1.40625rem 1.335rem;
    min-width: 15.9225rem;
    height: 37.625rem;
    gap: 1.40625rem;
    margin-right: -1.05rem;
    margin-top: 21.9375px;
  }
  .yearly {
    width: 16.695rem;
    height: 41.5rem;
    padding: 2.325rem 1.8225rem 1.8rem 1.545rem;
  }
  .monthly {
    width: 16.05rem;
    height: 38.3625rem;
    padding: 1.2975rem 1.8225rem 1.40625rem 1.335rem;
    margin-left: -0.492rem;
    margin-top: 24.1875px;
  }

  .plan-header {
    gap: 0.3825rem;
    margin-bottom: 0.70275rem;
  }
  .monthly .plan-header {
    margin-bottom: 0.5985rem;
  }
  .header-title {
    font-size: 1.05rem;
  }
  .header-description {
    font-size: 0.7725rem;
  }
  .price {
    font-size: 2.025rem;
    font-weight: 525;
  }
  .price .time {
    font-size: 0.6375rem;
  }
  .comming-soon {
    width: 13.275rem;
    height: 1.875rem;
    padding: 0.21rem 0.42rem;
    gap: 0.14rem;
    border-radius: 0.14rem;
    font-size: 0.6975rem;
    margin: 0.84375rem 0 1.40625rem;
  }
  .monthly .comming-soon {
    margin: 0.735rem 0 1.275rem;
  }
  .features {
    gap: 0.45675rem;
  }
  .yearly .features {
    gap: 0.42rem;
  }
  .supported-feature,
  .not-supported-feature {
    font-size: 0.84375rem;
    gap: 0.6rem;
  }
  .yearly .supported-feature {
    font-size: 0.7725rem;
  }
  .monthly .supported-feature {
    font-size: 0.7725rem;
  }
}
@media (max-width: 50rem) {
  .plans > * {
    border-radius: 0.44rem;
    box-shadow: 0px 2.49px 14.34px 0px rgba(0, 0, 0, 0.5);
  }
  .freebie {
    padding: 1.11rem 1.14rem 1.17rem 1.11rem;
    min-width: 13.22rem;
    height: 35.19rem;
    gap: 1.17rem;
    margin-right: -0.87rem;
    margin-top: 18.17px;
  }
  .yearly {
    width: 13.86rem;
    height: 38.45rem;
    padding: 1.93rem 1.51rem 1.49rem 1.28rem;
  }
  .monthly {
    width: 13.33rem;
    height: 35.78rem;
    padding: 1.08rem 1.51rem 1.17rem 1.11rem;
    margin-left: -0.41rem;
    margin-top: 20.05px;
  }

  .plan-header {
    gap: 0.32rem;
    margin-bottom: 0.58rem;
  }
  .monthly .plan-header {
    margin-bottom: 0.5rem;
  }
  .header-title {
    font-size: 0.87rem;
  }
  .header-description {
    font-size: 0.64rem;
  }
  .price {
    font-size: 1.68rem;
    font-weight: 435.75;
  }
  .price .time {
    font-size: 0.53rem;
  }
  .comming-soon {
    width: 11.01rem;
    height: 1.56rem;
    padding: 0.17rem 0.35rem;
    gap: 0.12rem;
    border-radius: 0.12rem;
    font-size: 0.58rem;
    margin: 0.7rem 0 1.17rem;
  }
  .monthly .comming-soon {
    margin: 0.61rem 0 1.06rem;
  }
  .features {
    gap: 0.38rem;
  }
  .yearly .features {
    gap: 0.35rem;
  }
  .supported-feature,
  .not-supported-feature {
    font-size: 0.7rem;
    gap: 0.5rem;
  }
  .yearly .supported-feature {
    font-size: 0.64rem;
  }
  .monthly .supported-feature {
    font-size: 0.64rem;
  }
}
