.fixure {
  background-color: #0d1317;
  border-radius: 0.95rem;
  width: 100%;
  overflow: hidden;
}
.date-heading {
  font-family: RobotoSemiBold;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
.date-para {
  font-size: 0.7rem;
  line-height: 0.8rem;
  opacity: 0.7;
}
.matches {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}
.match {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 20% 30% 1fr;
  padding: 0.7rem 0 0.52rem 16%;
  border-bottom: 1px solid #3b3b3b;
}
.first-team,
.second-team {
  display: flex;
  align-items: center;
  gap: 0.94rem;
}
.result,
.vs {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-family: RobotoSemiBold;
  font-weight: 600;
}
.first-team-name,
.second-team-name {
  font-family: RobotoSemiBold;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.125rem;
}
.match-date {
  font-size: 0.75rem;
  line-height: 0.9rem;
  justify-self: end;
  font-family: RobotoRegular;
  font-weight: 500;
  margin-top: 5.5px;
}
.today,
.two-days-ago,
.yesterday,
.three-days-ago {
  padding: 2rem 2.3rem 2.1rem 2.7rem;
}
.today {
  padding-top: 2.95rem;
}
.yesterday,
.three-days-ago {
  background-color: #161f24;
}
.three-days-ago {
  padding-bottom: 4.65rem;
}
@media (max-width: 56.25rem) {
  .fixure {
    border-radius: 0.5rem;
    margin-bottom: 4rem;
  }
  .date-heading {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .date-para {
    font-size: 0.75rem;
    line-height: 0.875rem;
    margin-top: 0.25rem;
  }
  .matches {
    width: 100%;
  }
  .match {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 15% 25% 1fr;
    padding: 0.25rem 0.4rem 0.3rem 27%;
    align-items: center;
    border-bottom: 0.5px solid #3b3b3b;
  }
  .first-team,
  .second-team {
    gap: 0.5rem;
  }
  .result,
  .vs {
    gap: 0.3rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .first-team-name,
  .second-team-name {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .first-team-image,
  .second-team-image {
    width: 1rem;
    height: 1rem;
  }
  .match-date {
    font-size: 0.625rem;
    line-height: 0.71rem;
    align-self: end;
  }
  .today,
  .two-days-ago,
  .yesterday,
  .three-days-ago {
    padding: 0.75rem 0.938rem 0.85rem 0.75rem;
  }
  .today {
    padding-top: 1.067rem;
  }
  .yesterday,
  .three-days-ago {
    background-color: #161f24;
  }
  .three-days-ago {
    padding-bottom: 2.7rem;
  }
}
@media (max-width: 28.125rem) {
  .date-heading {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
  .date-para {
    font-size: 0.56rem;
    line-height: 0.68rem;
  }
  .match {
    grid-template-columns: 28% 15% 28% 1fr;
  }
  .first-team,
  .second-team {
    gap: 0.5rem;
  }
  .result,
  .vs {
    gap: 0.3rem;
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
  .first-team-name,
  .second-team-name {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
  .first-team-image,
  .second-team-image {
    width: 0.9rem;
    height: 0.9rem;
  }
  .match-date {
    font-size: 0.5rem;
    line-height: 0.55rem;
  }
}
