.fixure {
  border-radius: 1.12rem;
  background: #0d1317;
  width: 100%;

  overflow: hidden;
}
@media (max-width: 56.25rem) {
  .fixure {
    border-radius: 0.515rem;
    margin-bottom: 4rem;
  }
}
