.dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.name,
.name-2 {
  background-color: rgba(50, 50, 50, 0.4);
  border-radius: 1.4rem;
  width: 6rem;
  height: 1.92rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0 0.75rem 0 1.4rem;
}
.lang-name,
.arabic-lang {
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  color: #adadad;
  font-size: 0.8rem;
  line-height: 0%;
  font-family: RobotoSemiBold;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.arabic-lang {
  font-family: "Noto Sans Arabic";
}
.dropdown:hover .name {
  background: rgba(50, 50, 50, 0.9);
}
.dropdown:hover .lang-name {
  color: #ffffff;
}
.dropdown:hover .name-2 {
  background: rgb(179, 31, 31);
}
.name-2 {
  background: rgba(254, 71, 71);
}
.name-2 .lang-name {
  color: white;
}
.dropdown:hover .options {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.space {
  display: block;
  width: 100%;
  height: 0.2px;
  background-color: transparent;
}
.options {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  transition: all 0.3s ease-out;
}
.drop-icon {
  font-size: 0.8rem;
  color: inherit;

  transition: all 0.25s ease-out;
}
.dropdown:hover .drop-icon {
  rotate: -180deg;
  color: white;
}

.option,
.option-2 {
  font-family: RobotoSemiBold;
  background-color: #1f2327;
  border-radius: 1.4rem;
  width: 6rem;
  height: 1.92rem;
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.8rem;
  line-height: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 0.3rem;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}
.option-2 {
  background-color: rgb(254, 71, 71);
  color: rgba(255, 255, 255, 0.8);
}
.option-2:hover {
  background: rgb(179, 31, 31);
}
.option:hover {
  color: #ffffff;
  background: #2f302f;
}
/* .option:first-child {
  background-color: rgb(254, 71, 71, 0.6);
  color: rgba(255, 255, 255, 0.8);
} */
@media (max-width: 56.25rem) {
  .name,
  .name-2 {
    border-radius: 1.85rem;
    width: 4.475rem;
    height: 1.575rem;
    padding: 0 0.4rem 0 1rem;
    justify-content: space-between;
  }
  .lang-name , .arabic-lang{
    font-size: 0.66rem;
  }
  .drop-icon {
    width: 10px;
    height: 9px;
  }
  .options {
    gap: 0.32rem;
    top: 27px;
    left: 0;
    z-index: 10;
  }
  .option,
  .option-2 {
    border-radius: 1.85rem;
    width: 4.375rem;
    height: 1.375rem;
    font-size: 0.85rem;
    gap: 0.3rem;
    font-size: 0.56rem;
  }
}
