.give-away {
  position: relative;
  margin: 1.625rem 3px 3rem;
}
.container {
  max-width: 100%;
}
.give-away-heading {
  color: #00c4fb;
  padding-left: 0.25rem;
  padding-right: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.125rem;
  margin-bottom: 0.5rem;
}
.heading {
  font-family: RobotoRegular;
  font-weight: 500;
  line-height: 1rem;
  font-size: 1.1rem;
}

.give-away-heading > span {
  flex-grow: 1;
  height: 2px;
  background-color: #00c4fb;
}
.give-away-wrapper {
  height: 51rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9% 1fr 40%;
  /* grid-row-gap: 2rem; */
  padding: 1rem 0.687rem 0.9375rem 0.875rem;
  background-color: #0d1317;
  border-radius: 1.125rem;
}
.give-away-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-column-gap: 2.5rem; */
  padding: 0 0.3rem 1.1rem 0.6875rem;
  font-family: RobotoSemiBold;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
}
.give-away-details-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}
.give-away-details-item > p {
  font-family: RobotoRegular;
  font-weight: 500;
}
.give-away-compition {
  position: relative;
  padding-top: 2.125rem;
}
.give-away-heading-2 {
  font-size: 1.625rem;
  line-height: 1.875rem;
  max-width: 72%;
  text-align: center;
  margin: auto;
  font-family: RobotoRegular;
  font-weight: 500;
}
.give-away-heading-2 > span {
  color: #00c4fb;
  display: inline-block;
}
.give-away-image {
  height: 77%;
  margin-top: -2rem;
  background: url("/svg/give-away/wrapper.svg");
  max-width: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-position: top;
}
.give-away-center-image {
  margin-top: 2.6rem;
  margin-left: 20%;
}
.give-away-para {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  font-family: RobotoRegular;
  font-weight: 500;

  max-width: 82%;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
}
.give-away-para > span {
  color: #02c6f9;
  margin-left: 0.25rem;
}
.devider {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  height: 1px;
  background-color: white;
}
.follow-us {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 0.4375rem;
}
.follow-us-method {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 1.75rem;
  background-color: #282c2d;
  border-radius: 0.625rem;
  font-size: 0.875rem;
  line-height: 0.9375rem;
  font-weight: 400;
  cursor: pointer;
}
.follow-us-method:hover {
  background-color: #191a1a;
}
.follow-us-method-para {
  margin-left: 10.6%;
  margin-right: auto;
}
@media (min-width: 34rem) {
  .container {
    width: min(75%, 27rem);
    margin: auto;
  }
}
@media (min-width: 40rem) {
  .container {
    width: min(30rem, 70%);
    margin: auto;
  }
  .give-away-image {
    max-width: 75%;
  }
  .give-away-center-image {
    margin-top: 2.6rem;
    margin-left: 22%;
  }
}
/* @media (min-width: 56.25rem) {
  .give-away {
    margin-top: 3.65rem;
    max-width: 35rem;
    margin: auto;
  }
  .container {
    width: 100%;
  }
  .give-away-heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 1.44rem;
  }
  .give-away-wrapper {
    height: 63rem;
    grid-template-rows: 9% 1fr 40%;
    padding: 1.375rem 1.325rem 1.5625rem 1.4375;
  }
  .give-away-details {
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .give-away-details-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .give-away-compition {
    position: relative;
    padding-top: 2.125rem;
  }
  .give-away-heading-2 {
    font-size: 2.8rem;
    line-height: 3rem;
    max-width: 72%;
  }
  .give-away-image {
    height: 77%;
    background: url("/svg/give-away/wrapper.svg");
    max-width: 80%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: top;
  }
  .give-away-center-image {
    margin-top: 2.6rem;
    margin-left: 30%;
  }
  .give-away-para {
    font-size: 1.5rem;
    line-height: 1.8rem;
    max-width: 85%;
    margin-top: 1rem;
  }
  .follow-us {
    grid-row-gap: 0.5625rem;
  }
  .follow-us-method {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  .follow-us-method-image {
    width: 2.25rem;
    height: 2.25rem;
  }
} */
@media (min-width: 56.25rem) {
  .give-away {
    max-width: 35rem;
    margin: auto;
  }
  .container {
    margin-top: 3.65rem;
    width: 100%;
    margin-bottom: 9.2rem;
  }
  .give-away-heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.44rem;
  }
  .heading {
    font-family: RobotoRegular;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.78rem;
  }

  .give-away-wrapper {
    height: 65rem;
    grid-template-rows: 7.5% 1fr 40%;
    padding: 1.1rem 1rem 1.17rem 1.08rem;
  }
  .give-away-details {
    padding: 0 0.3rem 1.1rem 0.6875rem;
    font-family: RobotoRegular;
    font-size: 1.3125rem;
    line-height: 1.575rem;
    text-align: center;
  }
  .give-away-details-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .give-away-compition {
    position: relative;
    padding-top: 2.125rem;
  }
  .give-away-heading-2 {
    font-size: 2.72rem;
    line-height: 3.2rem;
    max-width: 72%;
  }
  .give-away-image {
    height: 70%;
    margin-top: -2rem;
    background: url("/svg/give-away/wrapper.svg");
    max-width: 80%;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }
  /* .give-away-center-image{
  margin-top: 2.6rem;
  margin-left: 20%;
} */
  .give-away-para {
    font-size: 1.6rem;
    line-height: 1.875rem;
    max-width: 85%;
    margin-top: 1rem;
  }
  .follow-us {
    grid-row-gap: 0.7rem;
  }
  .follow-us-method {
    font-size: 1.03rem;
    line-height: 1.125rem;
  }
  .follow-us-method-image {
    width: 2.4rem;
    height: 2.4rem;
  }
  .follow-us-method-para {
    margin-left: 10.6%;
    margin-right: auto;
  }
}
