@import url("https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Arabic:wght@500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Public+Sans:wght@500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap");
@font-face {
  font-family: RobotoRegular;
  src: url("/fonts/NEW-MEDIUM.woff2") format("woff2"),
    url("/fonts/NEW-MEDIUM.woff") format("woff"),
    url("/fonts/NEW-MEDIUM.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-kerning: normal;
  font-feature-settings: "liga"; /* Turn ligatures on */
}

@font-face {
  font-family: RobotoSemiBold;
  src: url("/fonts/NEW-SEMI-BOLD.woff2") format("woff2"),
    url("/fonts/NEW-SEMI-BOLD.woff") format("woff"),
    url("/fonts/NEW-SEMI-BOLD.ttf") format("truetype");
  font-family: RobotoSemiBold;
  font-style: normal;
  font-display: swap;
  font-kerning: normal;
}

@font-face {
  font-family: RobotoBold;
  src: url("/fonts/NEW-Bold.woff2") format("woff2"),
    url("/fonts/NEW-Bold.woff") format("woff"),
    url("/fonts/NEW-Bold.ttf") format("truetype");

  font-family: RobotoBold;
  font-style: normal;
  font-display: swap;
  font-kerning: normal;
}

:root {
  --rgb-input: white !important;
  --rgb-background: blue !important;
  --score-board: #203639;
  --gray-dark: #666769;
  --green: #41f331;
  --blue: #00c4fb;
  --btn-background: #ff4747;
  --background: rgba(13, 19, 24, 0.95);
}
html {
  height: 100%;
  width: 100%;
  /* overscroll-behavior: none; */
}
html::before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100px;
  right: 0;
  position: fixed;
}

body::before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100px;
  background-color: rgba(13, 19, 24);
  position: fixed;
}
body * {
  --gpr-bg-color: inherit !important;
  --color-border: #0d1318 !important;
}
body .gpr-search-container .gpr-search:focus,
#emojies-gifs.emojies-gifs #root .search input {
  border: 1px solid #03a1cd !important;
}
.GifPickerReact .gpr-search-container input.gpr-search {
  background-color: #0d1318 !important;
}
/* #root .search input {
  background-color: #03a1cd !important;
} */
#root {
  --color-border: blue !important;
}
body .GifPickerReact.gpr-main {
  border: none;
}
body .GifPickerReact .gpr-header {
  border: none;
}
.GifPickerReact.gpr-main.gpr-main {
  border-color: inherit !important;
  width: 100% !important;
}
body .flex-column {
  width: 100% !important;
  overflow: hidden;
}
#emojies-gifs > em-emoji-picker {
  width: 100% !important;
}
.gpr-category-list::-webkit-scrollbar {
  width: 14px;
}

.gpr-category-list::-webkit-scrollbar-track {
  background: inherit;
}

.gpr-category-list::-webkit-scrollbar-thumb {
  background: #515151;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}
/* body .emojies-gifs .search input[type="search"]:focus {
  background: blue !important;
} */
.gpr-category-list::-webkit-scrollbar-thumb:hover {
  background: rgba(217, 217, 217, 0.39);
}
body #root .padding-lr.flex.flex-middle .search input[type="search"] {
  border: wheat !important;
}

body [controls="true"] {
  width: 100% !important;
  height: 100% !important;
}
body {
  overflow-x: hidden;
  color: white;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-kerning: normal;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}

li {
  list-style: none;
}
/* ul {
  list-style: none;
} */
a {
  display: inline;
  text-decoration: none;
}
input {
  width: 100%;
  border: none;
  outline: none;
  /* padding: 10px; */
  border-radius: 8px;
  transition: 0.3s;
}
button {
  border: none;
}
.wrapper-background {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(13, 19, 23, 0.953),
      rgba(13, 19, 23, 0.938)
    ),
    url(../public/wallpaper/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overscroll-behavior: none;
}
