@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

@font-face {
  font-family: RobotoRegular;
  src: url("/fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("/fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoSemiBold;
  src: url("/fonts/RobotoCondensed-SemiBold.woff2") format("woff2"),
    url("/fonts/RobotoCondensed-SemiBold.woff") format("woff");
   font-family: RobotoSemiBold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoBold;
  src: url("/fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("/fonts/RobotoCondensed-Bold.woff") format("woff");
   font-family: RobotoBold;
  font-style: normal;
  font-display: swap;
}

:root {
  --score-board: #203639;
  --gray-dark: #666769;
  --green: #41f331;
  --blue: #00c4fb;
  --btn-background: #ff4747;
  --background: #0d1318;
}

body {
  overflow-x: hidden;
  /* font-family: 'RobotoRegular',"Roboto Condensed", "Lato", "Libre Franklin", sans-serif; */
  background: linear-gradient(
    to right bottom,
    rgba(13, 19, 23, 0.953),
    rgba(13, 19, 23, 0.938)
  );
  color: white;
  /* url(/backimage.png); */
  /* background-position: top;
  overscroll-behavior: none;  */
}
/* html {
  font-family: "Roboto Condensed", "Lato", "Libre Franklin", sans-serif;
} */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}
li {
  list-style: none;
}
ul {
  list-style: none;
}
a {
  display: inline;
  text-decoration: none;
}
input {
  width: 100%;
  border: none;
  outline: none;
  /* padding: 10px; */
  border-radius: 8px;
  transition: 0.3s;
}
button {
  border: none;
}
