.stadium {
  width: 22.2rem;
  height: 40.17rem;
  background: url("/svg/watch/handball/pitch.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0%;
  position: relative;
}
