.watch-details {
  margin: 1.3rem auto 0;
  max-width: 52.5rem;
}
.watch-details-first {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-direction: column;
}
.date-and-place {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
}
.date,
.place {
  font-size: 0.93rem;
  line-height: 1.54rem;
}
.watch-details-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-team,
.second-team {
  display: flex;
  align-items: center;
  gap: 3.28rem;
}
.first-team-name,
.second-team-name {
  font-size: 1.875rem;
  line-height: 2.2rem;
  font-family: RobotoBold;
}
.vs {
  font-family: RobotoSemiBold;
  font-size: 1.125rem;
  line-height: 1.25rem;
}
.watch-details-last {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .85rem;
}
.half {
  font-family: RobotoSemiBold;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #4ae96d;
}
